body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: #E0E0E0;
    overflow-y: scroll;
    margin: 0;
    background: #161313 url(images/site/bg.jpg) no-repeat scroll 50% 62px;
}

form {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

option[selected] {
    background-color: #40C0D8;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px dotted #555;
    padding: 5px 10px 0;
    font-family: georgia, serif;
    margin: 0 0 10px;
    color: #808080;
}

.clear_fix {
    width: 100%;
    overflow: auto;
}

.row_bg1 {
    background-color: #444040;
}

.row_bg2 {
    background-color: #3C3838;
}

.sn_title {
    font-size: 20px;
    font-family: georgia, serif;
    margin-bottom: 10px;
    color: #ffcc00;
}

.sn_info {
    width: 200px;
    margin: 0 auto;
    color: #999999;
}

.sn_me {
    color: #e0e0e0;
}

.textarea {
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 2px;
    margin: 0;
}

.textarea:focus {
    padding: 1px;
    border: 2px solid #FFCC00;
}

.input {
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 2px;
    margin: 0;
    height: 20px;
}

.input:focus {
    padding: 1px;
    border: 2px solid #FFCC00;
}

.input_small {
    height: 16px;
    width: 100px;
}

.group {
    border: 1px dotted #555;
    background-color: #484444;
}

.group_t2 {
    border: 1px dotted #555;
    background-color: #484444;
}

.group_t3 {
}

.close {
    display: block;
    height: 20px;
    width: 20px;
    background: url(images/site/remove.png) no-repeat 0 0;
}

.close:hover {
    background-position: 0 -20px;
}

.remove {
    display: block;
    height: 20px;
    width: 20px;
    background: url(images/site/remove.png) no-repeat 0 0;
}

.remove:hover {
    background-position: 0 -20px;
}

.add {
    display: block;
    height: 20px;
    width: 20px;
    background: url(images/site/add.png) no-repeat 0 0;
}

.add:hover {
    background-position: 0 -20px;
}

.import {
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    background: url(images/site/import.png) no-repeat 0 0;
}

.import:hover {
    background-position: 0 -20px;
}

.info {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(images/site/info.png) no-repeat 0 0;
    cursor: help;
}

.info:hover {
    background-position: 0 -20px;
}

.button {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #404040;
    padding: 2px 10px;
    background: repeat-x;
    height: 24px;
    text-align: center;
    border: 1px none #606060;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    margin: 0;
}

.link_button {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 1px;
}

.button_light {
    background: url(images/site/button_bgs.jpg) 0 -24px;
    border: 1px solid #262323;
    color: #C0C0C0;
}

.button_light:hover {
    background-position: 0 -48px;
    color: white;
    border-color: #008090;
}

.button_light_hover {
    background-position: 0 -48px;
    color: white;
    border-color: #008090;
}

.button_light_active {
    background-position: 0 -72px;
    color: white;
    border-color: #c08000;
}

.button_light_active:hover {
    background-position: 0 -72px;
    color: white;
    border-color: #c08000;
}

.button_dark {
    background: url(images/site/button_bgs.jpg) 0 0;
    border: 1px solid #111;
    color: #808080;
}

.button_dark_hover {
    background-position: 0 -72px;
    color: white;
    border: 1px solid #604800;
}

.single_select {
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 3px;
    margin: 0;
    height: 26px;
}

.single_select_focussable:focus {
    padding: 2px;
    border: 2px #FFCC00;
}

.multi_select {
    outline: 0;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 3px;
    margin: 0;
}

.multi_select_focussable:focus {
    padding: 2px;
    border: 2px #FFCC00;
}

.button_header {
}

.ix_center {
    width: 1050px;
    margin: 0 auto;
}

.ix_content {
    background: url(images/site/main_t.png) no-repeat top center;
    clear: both;
    padding: 5px;
    min-height: 225px;
    height: auto !important;
    height: 225px;
}

.ix_w {
    min-height: 1131px;
    height: auto !important;
    height: 1131px;
    background: url(images/site/shadow.png) repeat-y bottom center;
}

.ix_content_w {
    background: url(images/site/bg.jpg) no-repeat 50% 0;
    padding: 0 40px;
}

.ix_content_p {
    margin: 0 auto;
    background: url(images/site/main_bg.png) repeat-y top center;
}

.ix_content_b {
    background: url(images/site/main_b.png) no-repeat bottom center;
}

.ix_logo {
    background: url(images/site/logo.png) no-repeat center 0;
    height: 62px;
    padding: 0 5px;
}

.ix_header {
    color: #808080;
    background: #161313 url(images/site/ix_header_bg.png) repeat-x left bottom;
}

.ix_login_note {
    font-size: 11px;
    cursor: default;
}

.ix_login_input {
    width: 120px;
    height: 18px;
    border-color: #000000;
}

.ix_self_link {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
}

.ix_stay_logged_in {
    vertical-align: bottom;
}

.ix_add_options {
    font-size: 11px;
    color: #606060;
    vertical-align: top;
    position: relative;
    top: 3px;
}

.ix_login_input_container {
    margin: 0 5px;
    float: right;
}

.ix_login_btn {
    background: url(images/site/button_bgs.jpg) 0 0;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 11px;
}

.ix_login_btn_hover {
    background-position: 0 -48px;
}

.ix_main_menu {
    float: left;
    width: 550px;
    margin-top: 36px;
    padding-left: 5px;
}

.ix_mm_entry {
    float: left;
}

.ix_mm_entry_add {
    margin-top: 5px;
}

.ix_mm_link {
    line-height: 24px;
    font-size: 13px;
    display: block;
    padding: 0 20px;
    color: #808080;
    text-decoration: none;
    background-color: #262323;
    border: 1px solid #161313;
    margin-left: -1px;
}

.ix_mm_link:hover {
    color: white;
    text-decoration: none;
    background-color: #504C4C;
}

.ix_mm_link_active {
    font-weight: bold;
    color: white;
    background: #00A8BD none;
    border-color: #3C3838;
    border-left-color: #262323;
}

.ix_mm_link_active:hover {
    background-color: #00C0D8;
}

.ix_copy {
    font-size: 11px;
    color: #808080;
    text-align: center;
    line-height: 25px;
}

.ix_disclaimer {
    font-size: 10px;
    color: #808080;
    text-align: center;
}

.ix_bottom_link_bar {
    text-align: center;
    color: #008090;
    line-height: 25px;
}

.ix_bottom_link {
    padding: 0 5px;
}

.ix_bottom_link:hover {
    color: #00A8BD;
}

/*.ix_foot{}*/

.ix_ad_v {
    position: absolute;
    right: -160px;
    top: 79px;
    width: 160px;
    height: 600px;
    border: 1px solid #808080;
}

.ix_ad_h {
    margin: 0 auto;
    width: 728px;
    height: 90px;
    border: 1px solid #808080;
}

.ix_noscript {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px #000000 dotted;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #FFCC33;
    height: 40px;
    padding-left: 46px;
    background: #C02000 url(images/site/caution.png) no-repeat 4px 4px;
}

.ix_error {
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
}

.ix_error_ex {
    margin-top: 25px;
    text-align: center;
    color: #808080;
}

.content_header {
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px dotted #555;
    padding: 5px 10px 0;
    font-family: georgia, serif;
    margin-bottom: 10px;
    color: #808080;
}

.content_wrapper {
    padding: 0 10px 20px;
}

.cp_mm_p {
    padding-top: 12px;
    padding-bottom: 8px;
    height: 34px;
}

.cp_mm_sel {
    height: 34px;
    width: 564px;
    margin: 0 auto;
}

.cp_mm_i_base {
    color: #808080;
    cursor: pointer;
    text-align: center;
    height: 26px;
    padding-top: 9px;
    float: left;
    display: block;
}

.cp_mm_i_base:hover {
    color: white;
    text-decoration: none;
}

.cp_mm_i0 {
    width: 140px;
    background: url(images/site/mtf.png) 0 -44px no-repeat;
}

.cp_mm_i1 {
    width: 80px;
    background: url(images/site/mtf.png) -140px -44px no-repeat;
}

.cp_mm_i2 {
    width: 90px;
    background: url(images/site/mtf.png) -220px -44px no-repeat;
}

.cp_mm_i3 {
    width: 80px;
    background: url(images/site/mtf.png) -310px -44px no-repeat;
}

.cp_mm_i4 {
    width: 70px;
    background: url(images/site/mtf.png) -390px -44px no-repeat;
}

.cp_mm_i5 {
    width: 80px;
    background: url(images/site/mtf.png) -460px -44px no-repeat;
}

.cp_mm_i_a_base {
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    height: 25px;
    padding-top: 9px;
    float: left;
    display: block;
}

.cp_mm_i_a_base:hover {
    color: #FFFFFF;
}

.cp_mm_i0_a {
    width: 140px;
    background: url(images/site/mtf.png) 0 0 no-repeat;
}

.cp_mm_i1_a {
    width: 81px;
    background: url(images/site/mtf.png) -139px 0 no-repeat;
    margin-left: -1px;
}

.cp_mm_i2_a {
    width: 91px;
    background: url(images/site/mtf.png) -219px 0 no-repeat;
    margin-left: -1px;
}

.cp_mm_i3_a {
    width: 81px;
    background: url(images/site/mtf.png) -309px 0 no-repeat;
    margin-left: -1px;
}

.cp_mm_i4_a {
    width: 71px;
    background: url(images/site/mtf.png) -389px 0 no-repeat;
    margin-left: -1px;
}

.cp_mm_i5_a {
    width: 81px;
    background: url(images/site/mtf.png) -459px 0 no-repeat;
    margin-left: -1px;
}

.bs_class_ll {
    text-align: center;
    font-size: 0;
}

.bs_th {
    background-color: #3C3838;
    padding: 5px;
}

.bs_td {
    border-top: 1px solid #343030;
    padding: 5px;
    line-height: 20px;
    color: #c0c0c0;
}

.bs_table {
    padding: 0;
    border-spacing: 0;
    border: 1px solid #343030;
    margin: 10px auto 0;
}

.bs_td1 {
    border-left: 1px solid #343030;
}

.bs_td0 {
    border-top: none;
    background-color: #3C3838;
    text-align: center;
    color: #E0E0E0;
}

.im_sa_h {
    height: 40px;
    width: 375px;
    font-size: 12px;
    font-weight: bold;
    line-height: 42px;
    padding-left: 25px
}

.im_sa_r {
    height: 36px;
    width: 400px;
    border-bottom: 1px dotted #808080;
}

.im_sa_b {
    height: 36px;
    line-height: 36px;
    width: 400px;
    text-align: center;
}

.im_sa_e {
    width: 400px;
    text-align: center;
    background-color: #c02000;
    border: 1px black dotted;
    padding: 5px;
    margin: 3px 0;
    color: #ffcc00;
}

.im_sa_center {
    height: 36px;
    line-height: 36px;
    width: 400px;
    text-align: center;
}

.im_sa_left {
    height: 36px;
    line-height: 36px;
    float: left;
    width: 150px;
    padding-left: 25px;
}

.im_sa_right {
    height: 36px;
    line-height: 36px;
    float: right;
    width: 200px;
    padding-right: 25px;
    text-align: right;
    position: relative;
    top: 0;
    left: 0;
}

.im_sa_p {
    margin: 0 auto;
    width: 404px;
}

.im_sa_in {
    width: 177px;
    margin: 1px;
}

.im_sa_check {
}

.im_sa_border {
    height: 8px;
    background-color: #3C3838;
    border-bottom: 1px dotted #555;
    width: 400px;
}

.im_sa_notice {
    padding: 0 25px;
    line-height: 36px;
}

/*
.im_sa_btn {
	width: 104px;
	background-image: url(images/site/buttons.png);
	background-position: 0px 0px;
}

.im_sa_btn_hover_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -2px -30px; text-decoration: none; color: #FFFFFF; }
.im_sa_btn_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -2px -2px; }
.im_sa_btn_hover { background-position: 0px -28px; text-decoration: none; color: #FFFFFF; }

*/

.im_sa_btn {
    background: url(images/site/button_bgs.jpg) 0 -24px;
    border: 1px solid #C0C0C0;
    color: #606060;
}

.im_sa_btn_hover {
    background-position: 0 -48px;
    color: white;
}

.im_sa_add_padding {
    padding-top: 3px;
}

/*.im_sa_save_btn_hover_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -314px -30px; text-decoration: none; color: #FFFFFF; }
.im_sa_save_btn_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -314px -2px; }
.im_sa_save_btn_hover { background-position: -312px -28px; text-decoration: none; color: #FFFFFF; }
*/

.im_parent {
}

.im_header {
    margin-bottom: 0;
    height: 40px;
    border: none;
}

.im_inputs {
    float: left;
    width: 490px;
    padding-left: 90px;
    padding-top: 10px;
}

.im_sa_inputs {
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
}

.im_profiles {
    float: right;
    width: 349px;
    border-left: 1px solid #504C4C;
    padding-top: 50px;
    min-height: 200px;
    height: auto !important;
    height: 200px;
}

.im_profiles_note {
    color: #808080;
    font-size: 11px;
    text-align: center;
    display: block;
    padding: 10px;
}

.im_profiles_header {
    font-size: 20px;
    padding: 10px 0 10px 10px;
    font-family: georgia, serif;
}

.im_profile {
    font-size: 11px;
    padding: 5px 0 5px 10px;
    display: block;
    border: 1px solid #343030;
    border-left: 0;
    border-right: 0;
    background-color: #3C3838;
    margin-top: -1px;
}

.im_profile:hover {
    background-color: #504C4C;
}

.sa_duplicate_link {
    color: #ffffff;
}

.dn_p {
    padding: 10px;
}

.dn_title {
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px dotted #555;
    font-family: georgia, serif;
}

.dn_info {
    color: #c0c0c0;
    text-align: justify;
    padding-top: 5px;
    width: 500px;
    margin: 0 auto;
}

.dn_button {
    margin: 0 auto;
    padding-top: 10px;
    width: 150px;
}

.dn_total {
    margin: 0 auto;
    text-align: center;
}

.dn_signature {
    width: 125px;
    margin-right: 0;
    margin-left: auto;
}

.ui_user_not_found {
    font-size: 14px;
    font-weight: bold;
    padding: 50px;
    text-align: center;
}

.ui_wrapper {
    width: 950px;
    padding-left: 10px;
}

.ui_left {
    width: 199px;
    float: left;
    border-right: 1px solid #504C4C;
}

.ui_avatar_p {
    padding: 5px;
    margin: 0 0 0 auto;
    text-align: right;
}

.ui_avatar_img {
    border: 1px solid #808080;
    padding: 1px;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.ui_categories {
    margin-left: auto;
    margin-right: 0;
    width: 150px;
}

.ui_cat_link {
    font-size: 11px;
    background-color: #343030;
    width: 140px;
    display: block;
    padding: 5px;
    margin-top: 1px;
}

.ui_cat_link:hover {
    background-color: #504C4C;
}

.ui_cat_link_active {
    font-size: 11px;
    background-color: #ebb000;
    color: #FFFFFF;
    width: 140px;
    display: block;
    padding: 5px;
    margin-top: 1px;
}

.ui_right {
    width: 740px;
    float: right;
}

.ui_name {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
}

.ui_role {
    font-size: 12px;
    color: #808080;
    margin-left: 20px;
}

.ui_info_container {
    padding: 5px;
    width: 400px;
    margin-left: 20px;
    border: 1px dotted #e0e0e0;
    margin-top: 20px;
}

.ui_ic_header {
    font-weight: bold;
}

.ui_data_tab {
    margin-left: 20px;
    margin-top: 20px;
}

.ui_data_nothing {
    color: #A0A0A0;
}

.ui_data_label {
    font-family: georgia, serif;
    padding-left: 5px;
    width: 150px;
    background-color: #343030;
    line-height: 40px;
    border-bottom: 1px solid #504C4C;
}

.ui_data_data {
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    width: 500px;
    overflow: hidden;
    background-color: #343030;
    border-bottom: 1px solid #504C4C;
}

.ui_data_input {
    width: 475px;
}

.ui_data_select {
    width: 475px;
}

.ui_bar_loading {
    display: block;
    padding: 12px;
}

.ui_note {
    padding-left: 175px;
    width: 475px;
    text-align: center;
    font-size: 11px;
    color: #808080;
}

.ui_profiles_p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui_avatar_container {
    width: 930px;
    margin: 0 auto;
}

.ui_avatar_img_container {
    width: 928px;
    height: 464px;
    border: 1px solid #808080;
    background-image: url(images/site/darken.png);
    margin-bottom: 5px;
}

.ui_avatar_preview_img {
    padding: 2px;
    border: 0;
    margin: 0;
    vertical-align: text-bottom;
}

.ui_avatar_container_lf {
    text-align: right;
    float: left;
    width: 414px;
    height: 30px;
}

.ui_avatar_container_rf {
    text-align: left;
    float: left;
    width: 414px;
    height: 30px;
}

.ui_avatar_container_c {
    text-align: center;
    color: #808080;
    float: left;
    width: 100px;
    height: 30px;
}

.ui_avatar_page_btn {
    border-color: #606060;
}

.ui_avatar_close {
    margin-left: auto;
    margin-right: 0;
}

.ui_pc_p {
    margin-top: 10px;
}

.loading {
    font-size: 16px;
    padding: 5px 0 5px 41px;
    line-height: 31px;
    vertical-align: middle;
    background: url(images/site/li_loading.gif) no-repeat 5px 5px;
    color: #404040;
    margin: 0 auto;
    width: 32px;
}

.ui_da_header {
    margin-bottom: 10px;
    border: 1px #000000 dotted;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #FFCC33;
    height: 40px;
    padding-left: 46px;
    background: #C02000 url(images/site/caution.png) no-repeat 4px 4px;
}

.ui_da_w {
    width: 650px;
    margin-left: 20px;
    margin-top: 20px;
}

.ui_da_note {
    background-color: #3c3838;
    padding: 10px;
    border: 1px dotted #343030;
}

.ui_da_note_h {
    font-family: georgia, serif;
    padding-bottom: 10px;
}

.ui_da_note_c {
    text-align: justify;
    color: #606060;
}

.ui_da_btn {
    font-size: 14px;
}

.ui_da_btn_p {
    text-align: center;
    padding: 10px;
}

.ui_da_sure {
    text-align: center;
}

.ui_da_zb {
    font-family: georgia, serif;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.ne_header {
    text-align: left;
    color: grey;
    padding: 0 10px;
    background-color: #3C3838;
    font-size: 11px;
    border-bottom: 1px dotted grey;
}

.ne_title {
    font-family: Georgia, serif;
    background-color: #EBB000;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    vertical-align: bottom;
    padding: 0 10px;
}

.ne_title_old {
    font-family: Georgia, serif;
    background-color: #d9a816;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    vertical-align: bottom;
    padding: 0 10px;
}

.ne_content {
    padding: 5px 10px;
    min-height: 79px;
    height: auto !important;
    height: 79px;
    background-color: #484444;
}

.ne_content_old {
    background-color: #484444;
    color: #A0A0A0;
    min-height: 0;
    height: auto;
}

.ne_cl {
    line-height: 25px;
    border-top: 1px dotted #606060;
    text-align: right;
    padding: 0 10px;
}

.ne_cl_old {
}

.ne_p {
    width: 500px;
    margin: 20px auto;
    border-bottom: 1px dotted #606060;
}

.ne_read_more {
    color: #00A8BD;
    font-weight: bold;
}

.ne_table {
    border-spacing: 0;
    padding: 0;
}

.green {
    color: #00DD00;
}

.red {
    color: #FF3030;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.grey {
    color: #999999;
}

.yellow {
    color: #DDDD00;
    font-weight: bold;
}

.dbi_icon {
    margin-top: 4px;
    border: 1px solid #808080;
}

.dbi_p {
    margin: 0 auto;
}

.dbi_header {
    line-height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #555;
}

.dbi_search_c {
    float: right;
}

.dbi_w {
    padding: 10px;
}

.dbi_search_label {
    font-size: 14px;
    margin-right: 10px;
    color: #808080;
}

.dbi_search_label_large {
    font-family: georgia, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #c0c0c0;
    width: 400px;
    margin: 10px auto;
}

.dbi_search_large {
    font-family: georgia, serif;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}

.dbi_search_input_large {
    width: 200px;
}

.dbi_title {
    font-size: 20px;
    font-family: georgia, serif;
    float: left;
    width: 50%;
}

.cr_w {
    padding: 10px;
}

.cr_title {
    font-size: 16px;
    font-family: georgia, serif;
    padding-left: 10px;
    font-weight: bold;
    background-color: #ebb000;
    color: white;
    line-height: 36px;
}

.cr_entry {
    border-bottom: 1px dotted #555;
    padding-left: 5px;
}

.cr_entry_bg0 {
    background-color: #3C3838;
}

.cr_entry_bg1 {
    background-color: #444040;
}

.cr_why {
    font-size: 14px;
    color: #808080;
    padding-top: 5px;
}

.cr_whom {
    font-size: 16px;
    color: #ebb000;
    font-family: georgia, serif;
    font-weight: bold;
}

.cr_person {
    padding: 5px 0;
}

.cr_link {
    font-size: 14px;
    color: #C0C0C0;
}

.gui_p {
}

.gui_lp_menu {
}

.gui_lp_content {
}

.gui_list_p {
    border-left: 2px solid #262323;
    padding-left: 4px;
}

.si_main {
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
}

.si_tt_p {
    width: 370px;
    float: left;
    margin-right: 5px;
}

.si_used_parent {
    width: 268px;
    float: right;
    padding: 5px;
    margin-top: 5px;
}

.si_socket_parent {
    margin: 5px 0;
    width: 360px;
    float: left;
    overflow: hidden;
    text-align: center;
    border: 1px solid #343030;
    background-color: #3C3838;
}

.si_sp_0_gems {
    display: none;
    padding-left: 146px;
}

.si_sp_1_gems {
    padding-left: 146px;
}

.si_sp_2_gems {
    padding-left: 113px;
}

.si_sp_3_gems {
    padding-left: 79px;
}

.si_gem_p {
    width: 67px;
    height: 67px;
    float: left;
}

.si_bg {
    width: 67px;
    height: 67px;
    background: no-repeat center center;
    top: 0;
    left: 0;
}

.si_no_highlight {
    width: 67px;
    height: 67px;
    top: 0;
    left: 0;
}

.si_braces {
    width: 67px;
    height: 67px;
    background: no-repeat center center;
    top: 0;
    left: 0;
}

.si_highlight {
    background: url(images/charsheet/slot_over.png) no-repeat center center;
}

.si_gem_p_selected {
    background: #00A8BD no-repeat center bottom;
}

.si_gem_icon {
    width: 33px;
    height: 33px;
    margin: 17px;
}

.si_event {
    top: 12px;
    left: 12px;
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.si_used_gem {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: left;
    margin: 1px;
    border: 1px solid #000000;
}

.si_used_title_fix {
    display: block;
    line-height: 28px;
    font-size: 16px;
    vertical-align: middle;
    font-family: georgia, sans-serif;
    padding-right: 5px;
}

.ra_group {
    border: 1px dotted #555;
    background-color: #343030;
    border-right: none;
    border-right: none;
}

.rpi_parent {
    padding: 5px;
    margin-bottom: 5px;
    display: none;
    margin-left: 5px;
}

.rpi_title {
    font: 16px Georgia, Serif bold;
}

.rpi_content {
    padding-top: 10px;
    text-align: right;
}

.rpi_select {
    width: 500px;
}

.ba_collapse_c {
    padding-bottom: 5px;
}

.ba_p {
    margin-bottom: 5px;
}

.collapse_h {
    font-size: 16px;
    font-family: georgia, serif;
    padding: 5px;
    color: #808080;
}

.bnpm_add_icon {
    float: left;
}

.bnpm_add_link {
    padding-left: 25px;
    width: auto;
    line-height: 20px;
    margin: 5px auto;
    width: 200px;
}

.bnpm_entry {
    height: 32px;
    padding: 5px;
    margin-top: 5px;
    clear: both;
    line-height: normal;
}

.bnpm_entry_no_static_link {
    line-height: 32px;
}

.bnpm_bar_loading {
    padding: 8px;
    display: block;
    margin: 0 auto;
}

.bnpm_name {
    font-size: 16px;
}

.bnpm_chrclass {
    font-size: 16px;
}

.bnpm_origin {
}

.bnpm_remove {
    float: right;
    margin-top: 6px;
}

.bnpm_grid {
    line-height: normal;
    color: #808080;
    width: 480px;
    margin: 0 auto;
}

.bnpm_add_parent {
    margin: 5px 0;
}

.bnpm_add_ctrl_parent {
    text-align: right;
}

.bnpm_input_parent {
    padding: 5px;
}

.bnpm_add_cancel_btn {
    margin-right: 10px;
}

.bnpm_add_cancel_btn {
    margin-right: 10px;
}

.bnpm_input {
    width: 150px;
}

.bnpm_select {
    width: 150px;
}

.bnpm_static_link {
    color: #808080;
    font-size: 11px;
}

.character_class_1 {
    color: #C79C6E;
}

.character_class_2 {
    color: #F58CBA;
}

.character_class_3 {
    color: #ABD473;
}

.character_class_4 {
    color: #FFF569;
}

.character_class_5 {
    color: #FFFFFF;
}

.character_class_6 {
    color: #C41F3B;
}

.character_class_7 {
    color: #0070DE;
}

.character_class_8 {
    color: #69CCF0;
}

.character_class_9 {
    color: #9482C9;
}

.character_class_10 {
    color: #00FF96;
}

.character_class_11 {
    color: #FF7D0A;
}

.item_quality_0 {
    color: #888888;
}

/*poor*/
.item_quality_1 {
    color: #fff;
}

/*common c0c0b0.item_quality_1:hover{color:#b0b0a0;}*/
.item_quality_2 {
    color: #0d0;
}

/*uncommon*/
.item_quality_3 {
    color: #2080FF;
}

/*rare*/
.item_quality_4 {
    color: #c060ff;
}

/*epic*/
.item_quality_5 {
    color: #FF8000;
}

/*legendary*/
.item_quality_6 {
    color: #E5CC80;
}

/*artifact*/
.item_quality_7 {
    color: #bfa760;
}

/*heirloom*/

.character_class_5_white_bg_fix {
    color: #C0C0C0;
}

.character_class_4_white_bg_fix {
    color: #D0C800;
}

.ajax_exception {
    font-size: 16px;
}

.ajax_exception_cause {
    padding-top: 5px;
}

.ov_p {
    margin-bottom: 20px;
}

.ov_header {
    font-size: 20px;
    font-family: georgia, serif;
    padding: 10px 15px 0 15px;
    line-height: 40px;
    border-bottom: 1px dotted #555;
}

.ov_character_class {
    margin-right: 5px;
}

.ov_character_race {
    margin-right: 5px;
    font-size: 13px;
}

.ov_level {
    margin-right: 5px;
    font-size: 13px;
}

.ov_name {
    margin-right: 5px;
}

.ov_gear_container {
    float: left;
    width: 362px;
    margin-left: 22px;
    margin-bottom: 10px;
}

.ov_stats_container {
    float: left;
    width: 154px;
    padding-left: 10px;
}

.ov_title {
    display: block;
    font-size: 20px;
    font-family: georgia, serif;
    line-height: 30px;
    color: #808080;
}

.ov_item_p {
    overflow: hidden;
    width: 350px;
    padding: 0 5px 5px;
    border: 1px solid #343030;
    border-top: none;
}

.ov_item_info_p {
}

.ov_items_p {
    border-top: 1px solid #343030;
}

.ov_slot_name {
    color: #808078;
    font-size: 11px;
}

.ov_item_none {
    color: #808080;
    display: none;
}

.ov_gem_p {
    font-size: 12px;
    line-height: 18px;
    padding-top: 2px;
}

.ov_gems_p {
    padding-left: 8px;
    clear: both;
}

.ov_enchant_p {
}

.ov_item_icon {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    border: 1px solid #808080;
}

.ov_item_link {
    display: block;
    float: right;
    width: 315px;
    padding: 4px 0;
    line-height: 18px;
}

.ov_st_p {
    border: none;
    margin-bottom: 5px;
}

.ov_st_c {
    background-color: #484444;
    border: 1px solid #343030;
    border-top: none;
}

.ov_gem_icon {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #808080;
}

.ov_gem_link {
    margin-left: 4px;
}

.ov_comments_p {
    float: right;
    width: 300px;
    overflow: hidden;
    margin-right: 5px;
}

.ov_comments_h {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    color: #ffcc00;
    font-family: georgia, serif;
    border-bottom: 1px solid #343030;
}

.ov_comments_c {
    border-top: 1px solid #343030;
}

.co_c {
    padding: 4px;
    border: 1px solid #343030;
    border-top: none;
}

.co_header {
    padding-bottom: 4px;
    color: #808080;
    font-size: 11px;
    font-family: georgia, serif;
}

.co_content {
}

.co_none {
    text-align: center;
    padding: 5px;
    color: #808080;
}

.co_textarea {
    width: 294px;
    height: 70px;
    margin: 0 auto;
    display: block;
}

.co_add_note {
    font-family: georgia, serif;
    padding-top: 5px;
    color: #808080;
}

.co_page {
    text-align: right;
}

.co_cur_page {
    margin: 0 5px;
}

.co_link_page {
    color: #ebb000;
}

.co_time {
    font-size: 11px;
    color: #808080;
}

.co_bar_loading {
    background: url(images/site/bar_loading.gif) no-repeat 50% 50%;
    height: 50px;
    display: none;
}

.rf_from_stat {
    font-size: 11px;
    padding: 0 5px;
    border: 1px solid #343030;
    border-bottom: none;
    border-right: none;
}

.rf_from_stat_bottom {
    border-bottom: 1px solid #343030;
}

.rf_from_value {
    color: #00d000;
    padding: 0 5px;
    border: 1px solid #343030;
    border-bottom: none;
    border-left: none;
    font-weight: bold;
}

.rf_from_value_bottom {
    border-bottom: 1px solid #343030;
}

.rf_to_stat {
    width: 50px;
    font-size: 11px;
    padding: 5px 5px;
    color: #808078;
    text-align: center
}

.rf_to_value {
    padding: 5px;
    text-align: center;
}

.rf_to_value:hover {
    color: #0d0;
}

.rf_to_active {
    font-weight: bold;
    color: #00d000;
}

.rf_cell {
    line-height: 30px;
    border-top: 1px solid #343030;
    color: #999999;
    text-align: center;
}

.rf_cell_bottom {
    border-bottom: 1px solid #343030;
}

.rf_cell_right {
    border-right: 1px solid #343030;
}

.rf_cell_left {
    border-left: 1px solid #343030;
    margin-left: 5px;
}

.rf_grid {
    margin-left: 22px;
}

.rf_item_name {
    font-size: 15px;
    font-weight: bold;
}

.rf_title {
    color: #808078;
}

.rf_title_c {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rf_b {
    text-align: right;
    padding-top: 5px;
}

.rf_error {
    padding-left: 10px;
    color: #808078;
}

.rf_tt_c {
    white-space: normal;
}

.rf_wowreforgeurl {
    margin-right: 5px;
    width: 400px;
}

.rs_cell {
    padding: 0 5px;
    line-height: 30px;
    border-bottom: 1px solid #343030;
    text-align: center;
}

.rs_p {
    margin-left: 22px;
}

.rs_header {
    font-size: 11px;
    color: #808078;
    padding: 5px;
    text-align: center;
}

.rs_title {
    font-size: 20px;
    color: #808080;
    font-family: Georgia, serif;
    line-height: 30px;
}

.rs_cell_l {
    border: 1px solid #343030;
    border-top: none;
    margin-right: 5px;
    text-align: left;
}

.rs_cell_lp {
    border: 1px solid #343030;
    border-top: none;
    border-right: none;
}

.rs_cell_rp {
    border: 1px solid #343030;
    border-top: none;
    border-left: none;
}

.rs_cell_top {
    border-top: 1px solid #343030;
}

.rs_stat {
    font-weight: bold;
}

.rs_stat_sum {
    font-weight: bold;
    padding: 5px;
}

.eqf_sel {
    color: #808078;
    width: 522px;
    cursor: pointer;
    text-align: center;
    height: 27px;
    margin: 0 auto 10px;
    background-color: #3c3838;
}

.eqf_i_base {
    padding-right: 1px;
    background-color: #343030;
    line-height: 25px;
    display: block;
    float: left;
    border: 1px solid #262323;
    border-top-color: #343030;
    border-right: none;
}

.eqf_i_base:hover {
    background-color: #504C4C;
    border-color: #262323;
    border-top-color: #343030;
    color: white;
    text-decoration: none;
}

.eqf_i0 {
    width: 80px;
    border-left-color: #262323;
}

.eqf_i1 {
    width: 80px;
}

.eqf_i2 {
    width: 100px;
}

.eqf_i3 {
    width: 100px;
}

.eqf_i4 {
    width: 70px;
}

.eqf_i5 {
    width: 80px;
    border-right: 1px solid #262323;
    padding-right: 0;
}

.eqf_i_a_base {
    font-weight: bold;
    padding-right: 1px;
    color: white;
    background: #3c3838 url(images/site/eqf_bg.png) repeat-x left bottom;
    line-height: 26px;
    display: block;
    float: left;
    border-left: 1px solid #262323;
}

.eqf_i_a_base:hover {
    color: #ffcc00;
    text-decoration: none;
}

.eqf_i0_a {
    width: 80px;
    border-left: 1px solid #262323;
}

.eqf_i1_a {
    width: 80px;
}

.eqf_i2_a {
    width: 100px;
}

.eqf_i3_a {
    width: 100px;
}

.eqf_i4_a {
    width: 70px;
}

.eqf_i5_a {
    width: 80px;
    border-right: 1px solid #262323;
    padding-right: 0;
}

.eqf_l_f {
    font-size: 12px;
}

.gi_p {
}

.gi_list_p {
    border-top: 1px solid #343030;
    overflow: hidden;
    width: 100%;
}

.gi_list_c {
    width: 300px;
    float: left;
    padding: 0 10px 10px;
}

.gi_glyphs_p {
    padding-top: 40px;
    overflow: hidden;
    width: 640px;
    margin: 0 auto;
}

.gi_glyphs_c {
    width: 300px;
    float: left;
    padding: 0 10px 10px;
}

.gi_list_h {
    padding: 10px;
    font-size: 20px;
    color: #808080;
    font-family: georgia, serif;
}

.gi_list_entry {
    display: block;
    border-bottom: 1px solid #343030;
    padding: 4px 4px 4px 8px;
    background-color: #444040;
}

.gi_list_entry:hover {
    background-color: #504C4C;
}

.gi_glyph_icon {
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: 2px;
    vertical-align: middle;
    border: 1px solid #808080;
}

.gi_glyph {
    display: inline-block;
    vertical-align: middle;
}

.gi_glyph_c {
    display: block;
    border-top: 1px dotted #555;
}

.gi_empty {
    line-height: 42px;
    color: #c0c0c0;
    padding-left: 42px;
}

.gi_note {
    color: #808080;
    padding-top: 2px;
    text-align: center;
}

.gi_error {
    text-align: center;
    font-size: 16px;
    padding-top: 80px;
}

.gui_tt {
    position: relative;
    top: 0;
    left: 0;
}

.tsf_sel {
    color: #808080;
    width: 204px;
    cursor: pointer;
    text-align: center;
    height: 27px;
    margin: 0 auto 10px;
    background-color: #3c3838;
    position: absolute;
    top: 0;
    left: 378px;
}

.tsf_i_base {
    padding-right: 1px;
    background-color: #343030;
    line-height: 25px;
    display: block;
    float: left;
    border: 1px solid #262323;
    border-top-color: #343030;
    border-right: none;
}

.tsf_i_base:hover {
    background-color: #504C4C;
    border-color: #262323;
    border-top-color: #343030;
    color: white;
    text-decoration: none;
}

.tsf_i0 {
    width: 120px;
    border-left-color: #262323;
}

.tsf_i1 {
    width: 80px;
    border-right: 1px solid #262323;
    padding-right: 0;
}

.tsf_i_a_base {
    font-weight: bold;
    padding-right: 1px;
    color: white;
    background: #3c3838 url(images/site/eqf_bg.png) repeat-x left bottom;
    line-height: 26px;
    display: block;
    float: left;
    border-left: 1px solid #262323;
}

.tsf_i_a_base:hover {
    color: #ffcc00;
    text-decoration: none;
}

.tsf_i0_a {
    width: 120px;
    border-left: 1px solid #262323;
}

.tsf_i1_a {
    width: 80px;
    border-right: 1px solid #262323;
    padding-right: 0;
}

.tsf_i2_a {
    width: 80px;
    border-right: 1px solid #262323;
    padding-right: 0;
}

.tsf_l_f {
    font-size: 12px;
}

.bi_buff_p {
    width: 158px;
    margin-bottom: 1px;
    float: left;
    overflow: hidden;
    font-size: 11px;
    line-height: 22px;
}

.bi_buff {
    height: 20px;
    width: 20px;
    border: 1px solid #808080;
    float: left;
    display: block;
    margin-right: 2px;
}

.bi_cb_count {
    color: #808080;
    margin-left: 5px;
    font-size: 12px;
}

.bi_collapse_c {
    border: 1px solid #343030;
    background-color: #3C3838;
    border-right: none;;
    border-top: none;
    padding: 2px 0 2px 2px;
}

.bi_collapse_h {
    border-bottom: 1px solid #343030;
    font-size: 14px;
}

.bi_collapse {
    margin-bottom: 5px;
}

.bi_p {
    padding-bottom: 20px;
}

.bi_fcc_parent {
    padding-left: 2px;
}

.bi_loading {
    height: 30px;
    background: url(images/site/li_loading.gif) 50% 50% no-repeat;
}

.ba_simple_op_link {
    font-family: Georgia, serif;
    color: #00A8bd;
    font-size: 13px;
}

.ba_simple_op_link:hover {
    color: #00c0b8;
}

.ba_op_container {
    padding: 5px 10px;
}

.ba_op_title {
    font-family: Georgia, serif;
    color: #c0c0c0;
    font-size: 13px;
    padding-bottom: 5px;
}

.green {
    color: #00DD00;
}

.red {
    color: #FF3030;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.grey {
    color: #999999;
}

.yellow {
    color: #DDDD00;
    font-weight: bold;
}

.tt_item_gold {
    color: #ffd100;
}

.lo_error {
    color: #DD0000;
    font-weight: bold;
}

.login_rec_p {
    text-align: center;
    padding-top: 10px;
}

.login_rec_link {
    color: #999999;
    font-size: 11px;
}

.login_rec_link:hover {
    color: white;
}

.fm_malformed_character {
    font-weight: bold;
    text-decoration: underline;
}

.fm_in_err_p {
    position: absolute;
    left: 200px;
    top: 4px;
    background-color: #DD0000;
    color: white;
    height: 20px;
    white-space: nowrap;
    line-height: 20px;
    font-size: 11px;
    padding: 4px;
}

.fm_in_err_b {
    border: 2px #DD0000;
    margin: 0;
}

.fm_err {
    color: #DD0000;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.fm_note {
    color: #00DD00;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.rp_step_2 {
    text-align: center
}

.ci_p {
    position: relative;
    top: 34px;
    left: 0;
}

.ci_c {
    width: 40px;
    position: absolute;
    top: 0;
    left: -40px;
    overflow: hidden;
}

.ci_item {
    display: block;
    text-align: right;
    height: 54px;
    margin-bottom: 5px;
    background: url(images/site/ci_item.png) 0 0 no-repeat;
    padding: 8px 6px 6px 9px;
}

.ci_item:hover {
    background-position: 0 -104px;
}

.ci_item_btn {
    height: 20px;
    width: 20px;
    background-position: 0 -68px;
    padding: 8px 7px 8px 13px;
}

.ci_item_btn:hover {
    background-position: 0 -68px;
}

.ci_item_selected {
    background-position: 0 -172px;
}

.ci_item_selected:hover {
    background-position: 0 -172px;
}

.ci_icon {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border: none;
}

.ci_class_icon {
    margin-top: 4px;
}

.ci_race_icon {
}

.spi_item {
    display: block;
    color: #808080;
    background: #161414 repeat-x;
    width: 300px;
}

.spi_icon {
    border: 1px solid black;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}

.spi_content {
    float: right;
    width: 260px;
}

.spi_item_w {
    margin: 0 auto;
}

.spi_item_active {
    color: inherit;
    background-color: #50421C;
}

.spi_node {
    padding-top: 50px;
}

.spi_item_lt {
    width: 10px;
    height: 10px;
    background-image: url(images/site/spi_item_lt.png);
}

.spi_item_rb {
    width: 10px;
    height: 10px;
    background-image: url(images/site/spi_item_rb.png);
}

.spi_item_lb {
    height: 10px;
    background-image: url(images/site/spi_item_lb.png);
}

.spi_item_rt {
    height: 10px;
    background-image: url(images/site/spi_item_rt.png);
}

.spi_item_t {
    background-image: url(images/site/spi_item_t.png);
}

.spi_item_b {
    background-image: url(images/site/spi_item_b.png);
}

.spi_item_r {
    background-image: url(images/site/spi_item_r.png);
}

.spi_item_l {
    background-image: url(images/site/spi_item_l.png);
}

.spi_item_active_lt {
    width: 10px;
    height: 10px;
    background-image: url(images/site/spi_item_active_lt.png);
}

.spi_item_active_rb {
    width: 10px;
    height: 10px;
    background-image: url(images/site/spi_item_active_rb.png);
}

.spi_item_active_lb {
    height: 10px;
    background-image: url(images/site/spi_item_active_lb.png);
}

.spi_item_active_rt {
    height: 10px;
    background-image: url(images/site/spi_item_active_rt.png);
}

.spi_item_active_t {
    background-image: url(images/site/spi_item_active_t.png);
}

.spi_item_active_b {
    background-image: url(images/site/spi_item_active_b.png);
}

.spi_item_active_r {
    background-image: url(images/site/spi_item_active_r.png);
}

.spi_item_active_l {
    background-image: url(images/site/spi_item_active_l.png);
}