.ts_c {padding-top:40px;}
.ts_tab{margin: 0 auto;}
.ts_tree_reset  {float:right;margin: 3px 0;}
.ts_tree_spent {float:left; line-height: 26px; margin-left: 5px;}
.ts_tree_name {float:left; line-height: 26px; margin-left: 5px;}
.ts_tree_icon {float:left; border: 1px solid #000000;}
.ts_tree_title{padding: 2px; padding-bottom: 0; height: 26px;}
.ts_tree_link{color: #c0c0c0;}
.ts_switch{text-align:center; padding: 2px; font-weight: bold;}

.talent_border
{
	position:relative;
	width:54px;
	height:54px;
	background-image:url(images/talents/talent_border.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.talent_icon{
	width:32px;
	height:32px;
}

.talent_image_div{
	width:32px;
	height:32px;
	position:absolute;
	top:11px;
	left:11px;
	z-index:2;
}

.talent_highlight_div{
	width:32px;
	height:32px;
	position:absolute;
	top:11px;
	left:11px;
	z-index:3;
}

.talent_highlight_div_hover
{
	width:32px;
	height:32px;
	position:absolute;
	top:11px;
	left:11px;
	z-index:3;
	background-image:url(images/charsheet/slot_over.png);
	background-position:center center;
}

.talent_border_div{
	width:40px;
	height:40px;
	position:absolute;
	top:7px;
	left:7px;
	z-index:4
}

.talent_text_div{
	position:absolute;
	width:24px;
	height:19px;
	bottom:3px;
	right:3px;
	z-index:5;
	font-size:10px;
	text-align:center;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

.talent_text_div > span{
	font-size:12px;
	line-height:17px;
}

.talent_event_parent
{
	z-index:7;
	width:32px;
	height:32px;
	position:absolute;
	top:11px;
	left:11px;
	cursor:pointer;
}

.talent_arrow_left_start
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_horizontal_short.png);
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_right_start
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_horizontal_short.png);
	background-repeat:no-repeat;
	background-position:right center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_left_end
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_left_end.png);
	background-repeat:no-repeat;
	background-position:right center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_right_end
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_right_end.png);
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_left_corner
{
	background-image:url(images/talents/arrow_left_corner.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.talent_arrow_right_corner
{
	background-image:url(images/talents/arrow_right_corner.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.talent_arrow_horizontal
{
	background-image:url(images/talents/arrow_horizontal.png);
	background-repeat:no-repeat;
	background-position:center;
}

.talent_arrow_vertical
{
	background-image:url(images/talents/arrow_vertical.png);
	background-repeat:no-repeat;
	background-position:center;
}


.talent_arrow_vertical_start
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_vertical_short.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	position:absolute;
	top:0px;
	left:0px;
}


.talent_arrow_vertical_end
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_vertical_end.png);
	background-repeat:no-repeat;
	background-position:center top;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_left_start_active
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_horizontal_short_g.png);
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_right_start_active
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_horizontal_short_g.png);
	background-repeat:no-repeat;
	background-position:right center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_left_end_active
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_left_end_g.png);
	background-repeat:no-repeat;
	background-position:right center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_right_end_active
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_right_end_g.png);
	background-repeat:no-repeat;
	background-position:left center;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_arrow_left_corner_active
{
	background-image:url(images/talents/arrow_left_corner_g.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.talent_arrow_right_corner_active
{
	background-image:url(images/talents/arrow_right_corner_g.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.talent_arrow_horizontal_active
{
	background-image:url(images/talents/arrow_horizontal_g.png);
	background-repeat:no-repeat;
	background-position:center;
}

.talent_arrow_vertical_active
{
	background-image:url(images/talents/arrow_vertical_g.png);
	background-repeat:no-repeat;
	background-position:center;
}


.talent_arrow_vertical_start_active
{
	z-index:0;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_vertical_short_g.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	position:absolute;
	top:0px;
	left:0px;
}


.talent_arrow_vertical_end_active
{
	z-index:5;
	width:54px;
	height:54px;
	background-image:url(images/talents/arrow_vertical_end_g.png);
	background-repeat:no-repeat;
	background-position:center top;
	position:absolute;
	top:0px;
	left:0px;
}

.talent_spent
{
	text-align:right;
	padding-bottom:5px;
}

.ts_title {
	font-weight: bold;
	font-size: 14px;
	color: #808080;
	padding: 5px;
}

.talent_required_level {
	margin-right:20px;
}

.ts_level {
	color: #FFFFFF;
}

.ts_error { text-align: center; font-size: 16px; padding-top: 40px; }

.ts_header_c {height: 20px; line-height:20px; padding: 5px 0; font-family:georgia,serif; font-size:14px;  font-weight: bold;}
.ts_header_notice{text-align:center;}
.ts_header_info{float:left}
.talent_reset_link{ float: right; margin-left:20px;}

/* has to be below ts_header_info to overwrite float*/
.ts_total {
	float: right;
	font-family: Tahoma, sans-serif;
}

.talent_remaining_points{ margin-left:2px; color: #808078;}
.ts_remaining {color: #c0c0c0; font-family: Tahoma, sans-serif;}

.talent_reset_link:hover
{
	color:#FF0000;
}

.talent_tree_spent
{
	font-weight:bold;
	font-size:14px;
	margin-left:7px;
	font-family: Tahoma, sans-serif;
	color: #FFFFFF;
}

.talent_tree_name
{
	margin-left:5px;
	color: #FFCC00;
	font-weight: bold;
}

.talent_tree_title {
	height: 24px;
	background-color: #303030;
}

.talent_tree_icon
{
	height:20px;
	width:20px;
	border:1px solid #333333;
	vertical-align:top;
	margin:1px;
}

.talent_tree_reset_link
{
	margin-right:5px;
}

.talent_tree_reset_link:hover
{
	color:#FF0000;
}


.talents_no_class_selected
{
	text-align:center;
	font-weight:bold;
}

.talent_link
{
	color:#808080;
}

.talent_link_div
{
	text-align: center;
	padding-top: 5px;
}

.talent_tree_table
{
}

.talent_class_link
{
	color:#333333;
	padding-left:8px;
	padding-right:8px;
	font-size:11px;
}

.talent_class_link:hover
{
	color:#408AB6;
}

.talent_class_link_active
{
	color:#FFFFFF;
	font-size:14px;
	padding-left:8px;
	padding-right:8px;
}

.talent_class_link_active:hover
{
	color:#FFCC33;
}

.talent_table
{
	margin-left:auto;
	margin-right:auto;
}


.talent_planner_pet_icon_parent
{
	position:relative;
	margin:1px;
}

.talent_planner_pet_icon
{
	border:1px solid #000000; 
	width:32px; 
	height:32px;
}

.talent_planner_pet_icon_hover
{
	position:absolute;
	top:0px;
	left:0px;
	width:34px; 
	height:34px; 
	cursor:pointer;
	z-index:1;
	background-image:url(images/transparent.gif);
}

.talent_planner_pet_icon_hover:hover
{
	background-image:url(images/slot_over.png);
	background-position:center center; 
}

.talent_tree_node
{
	position: relative; top: 0; left: 0;
	margin: 2px;
	border:2px solid #008090;
	background: no-repeat bottom;
	background-position: center center;
	height: 378px;
}

.talent_select_div
{
	background-image: url(images/tooltip/bg.png);
	position: absolute;
	top: -2px;
	left: -2px;
	width:216px;
	height: 378px;
	z-index: 10;
	border: 2px solid #000000;
}

.talent_select_title
{
	font-family: Georgia, serif;
	margin-top: 24px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.talent_select_link
{
	color: #FFFFFF;
	cursor: pointer;	
}

.talent_select_link:hover {
	text-decoration: underline;
	color: #FFCC00;
}


.talent_select_link_inactive {
	text-decoration: none;
	color: #FFFFFF;
	cursor: text;
}

.talent_select_link_inactive:hover {
	text-decoration: none;
	color: #FFFFFF;
	cursor: text;
}

.talent_spells_parent {
	padding: 0;
	height: 170px;
}

.ts_primary_border {
	width:42px;
	height:42px;
	background-image:url(images/icon_border_smaller.png);
	background-repeat: no-repeat;
}

.ts_primary_icon {
	width:42px;
	height:42px;
	background-repeat: no-repeat;
	background-position: center center;
}

.ts_primary_border_s {
	width:32px;
	height:32px;
	background-image:url(images/icon_border_smallest.png);
	background-repeat: no-repeat;
}

.ts_primary_icon_s {
	width:32px;
	height:32px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}

.ts_primary_event_s {
	width: 24px;
	height: 24px;
	top:4px;
	left: 4px;
	cursor: pointer;
}

.ts_primary_event {
	width: 32px;
	height: 32px;
	top:5px;
	left: 5px;
	cursor: pointer;
}




.ts_ps_icon_p_big {
	float: left; width: 42px; height: 42px; margin-right: 4px;
}
.ts_ps_icon_p {
	float: left; width: 32px; height: 32px; margin-right: 4px;
}
.ts_ps_c { height: 32px; }
.ts_ps_c_big { height: 42px; }
.ts_ps_name_p_big { height: 42px; width: 170px; height: 42px; vertical-align: middle; display: table-cell;}
.ts_ps_name_p { font-size: 12px; width: 180px; height: 32px; vertical-align: middle; display: table-cell;}

.ts_primary_name { color: #FFCC33; }
.ts_primary_name_g { color: #909090;}


.talent_select_description
{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 11px;
	color: #EEEEEE;
	line-height: 150%;
}

.talent_select_icon_div
{
	margin-top: 25px;
	height:64px;
	margin-bottom: 25px;
	background: no-repeat center;
}

.talent_select_circle_div
{
	height: 100%;
	width: 100%;
	background: no-repeat center;
}

.talent_switch_link 
{
	color: #E43F19;
	font-size: 12px;
	cursor: pointer;
}

.talent_switch_link:hover
{
	color:#FF8000;
	text-decoration: none;
}


.talent_hover_div{
	line-height:200%;
	border:1px solid #333333;
	top:14px;
	left:0px;
	display:none; 
	position:absolute; 
	background-image:url(images/tooltip/bg.png); 
	z-index:1000;
	width:100%;
}

.talent_menu_parent{
	position:relative;
	top:0px;
	left:0px;
}

.talent_menu_parent:hover > div{
	display:block;
}

.talent_title{
	padding: 5px;
}