.ts_node{ padding-top: 50px; padding-bottom: 5px;}
.ts_grid{ margin: 0 auto;}

.ts_icon_p {width:48px; height: 48px; float: left;  background: no-repeat center center; margin-left: 24px; }
.ts_icon { border: 1px solid black; display: block; height: 32px; width: 32px; margin: 7px; }
.ts_tier { background: url(images/talents/talent_level_bg.png) no-repeat; width: 56px; height: 44px; text-align: center; padding-top: 14px; padding-left: 5px; font-size: 20px; font-family: georgia, serif; }

.ts_talent_p { display: block; width: 190px; height: 58px; background: url(images/talents/talent_bg.png) no-repeat center center; position: relative; top: 0; left: 0; }
.ts_talent_p:HOVER {color: white;}
.ts_talent { position: absolute; top: 0; left: -5px; width: 190px; height: 48px;  padding: 5px 5px; }
.ts_talent_active { background: url(images/talents/talent_active.png) no-repeat center center; }

.ts_talent_title_p { display: block; height: 48px; width: 190px; position: absolute; top:5px; left:5px; color: #808080;  }
.ts_talent_title { display: table-cell; vertical-align: middle; height:48px; font-size: 13px; padding-right: 16px; padding-left: 64px; width: 110px; }

.ts_right_end { height: 58px; width: 5px; background: url(images/talents/talent_right_end.png) no-repeat center center;}

.ts_error{ text-align: center; font-size: 16px; padding-top: 30px;}
.ts_dist{ text-align: center; padding-top: 10px; color: #c0c0c0; }
.ts_dist_link{ color: #808080; }
.ts_dist_link:hover{ color: #ffcc00; }