.character_sheet_parent{
	width:350px;
	margin-right:2px;
}

.condensed_character_sheet{
	width:120px;
}

.character_sheet_relic_container {
	clear: both;
	width:48px;
	margin-left:auto;
	margin-right:auto;
}

.cs_is_p { padding: 3px 0;}
.cs_is_p_0{ width: 64px; height: 48px; padding-right: 8px;}
.cs_is_p_1{ width: 64px; height: 48px; padding-left: 8px;}
.cs_is_p_2{ width: 48px; height: 64px; }

.cs_is_ip{
	width:38px;
	height:38px;
	position:relative;
	top: 0px;
	left: 0px;
	background-image:url(images/site/item_border.png);
	background-repeat:no-repeat;
	background-position:center;
	padding: 5px;
}

.cs_is_hi{width:13px; height: 13px; margin-top: 1px; margin-left: 1px; float: left; background-color: #484444; border: 1px solid #333;}
.cs_is_hip{ top: 0px; left: 0px; width:13px; height: 13px;}
.cs_is_hip_enlarge { height: 38px; width: 38px; z-index: 2; top: -1px; left: -1px;}
.cs_is_hi_event{width:15px; height: 15px; top: -1px; left: -1px; display: block;}
.cs_is_hi_event_p{width:15px; height: 15px; top: -1px; left: -1px;}

.cs_is_quality_0{border-color:#888888;}
.cs_is_quality_1{border-color:#b8b8a8;}
.cs_is_quality_2{border-color:#2c2;}
.cs_is_quality_3{border-color:#0070FF;}
.cs_is_quality_4{border-color:#A300CC;}
.cs_is_quality_5{border-color:#FF8000;}
.cs_is_quality_6{border-color:#E5CC80;}
.cs_is_quality_7{border-color:#bfa760;}

.cs_is_ip_0{float: left;}
.cs_is_ip_1{float: right;}
.cs_is_ip_2{float: left;}


.cs_is_img_small{width:13px; height: 13px; border: none; display: block;}
.cs_is_img_large{width:38px; height: 38px; cursor: pointer;}

.character_sheet_item_image{
}

.character_sheet_item_image_div{
	position:absolute;
}

.character_sheet_item_highlight{
	background-position:center center;
	background-image:url(images/site/item_slot_shadow.png);
	cursor:pointer;
	width:38px;
	height:38px;
	top
}

.character_selector_item_table{
	border: 1px solid #808080;
	height:24px;
}
.character_selector_item_table:hover{
	border: 1px solid #E43F19;
}
.character_selector_item_level{
	color:#808080;
	width:16px;
	text-align:left;
}
.character_selector_item_class{
	width:24px;
}
.character_selector_item_race{
	width:24px; 	
}
.character_selector_item_table_active{
	border: 1px solid #FFFFFF;
}
.character_selector_item_level_active{
	width:18px;
	text-align:left;
}
.character_selector_item_class_active{
	width:32px;
}
.character_selector_item_race_active{
	width:32px; 	
}
.character_selector_new_item_link{
	cursor:pointer;
}
.character_selector_new_item_link:hover{
	text-decoration:underline;	
}
.character_selector_item_delete_link{
	cursor:pointer;
}
.character_selector_item_delete_link:hover{
	text-decoration:underline;	
}

.character_sheet_profession_parent
{
	text-align:left;
	margin-left:10px;
	margin-bottom:5px;
}

.character_sheet_profession_parent select
{
	margin-right:2px;
	margin-left:2px;
}

.character_sheet_profession_select
{
	width:200px;
}

.character_sheet_profession_tier_select
{
	width:50px;
}

.character_sheet_profession_level_select
{
	width:50px;
}

.character_sheet_header
{
	margin-top:10px;
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

.character_sheet_energy_bar
{
	width:95%;
	height:16px;
	border:1px solid #000000;
	text-align:center;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}

.character_sheet_health_bar
{
	background-image:url(images/charsheet/bar-life.gif);
	width:95%;
	height:16px;
	border:1px solid #000000;
	text-align:center;
	margin-bottom:2px;
	margin-left:auto;
	margin-right:auto;
}

.character_level_select
{
	margin-left:3px;
}

.character_level_select_option
{
	
}
.character_sheet_resistance_bar
{
	margin-right:2px;
	height:27px;
}

.character_sheet_resistance
{
	background-position:center;
	width:25px;
	height:25px;
	float:right;
	margin:1px;
}

.resistance_text
{
	margin-top:10px;
	text-align:center;
}

.buff_bar
{
	margin-left:auto;
	margin-right:0;
	width: 182px;
	float:right;
	background-image:url(images/buff_bar.jpg);
	line-height:0px;
}

.buff_bar_left_top
{
	background-image:url(images/buff_bar_lt.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}

.buff_bar_right_top
{
	background-image:url(images/buff_bar_rt.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}

.buff_bar_left_bottom
{
	background-image:url(images/buff_bar_lb.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
}

.buff_bar_right_bottom
{
	background-image:url(images/buff_bar_rb.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
	padding:3px;
}

.character_sheet_buff_slot
{
	background-image:url(images/buff_icon.jpg);
	background-position:center;
	height:18px;
	width:18px;
	cursor:pointer;
	background-repeat:no-repeat;
	margin:1px;
	border:1px solid #484848;
}

.character_sheet_shape_icon
{
	height:22px;
	width:22px;
	border:1px solid #000000;
	cursor:pointer;
	margin-right:2px;
}

.character_sheet_shape_parent
{
	width:100%;
	height:24px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:6px;
}

.compare_red{
	color:#DD0000;
	font-weight:bold;
}

.compare_green{
	color:#00C000;
	font-weight:bold;
}

.compare_neutral {
	font-weight:bold;
	padding: 0px 3px;
}
	
.stat_title_p {
	background-color: #444040;
	border-bottom: 1px solid #343030;
	border-right: none;
}

.stat_title
{
	color: #ffcc00;
	font-size:12px;
	font-weight:bold;
	cursor: pointer;
	padding: 3px 5px;
	font-family: georgia, serif;
	display: block;
	width: 143px;
}

.stat_title:hover{}

.stat_div{
	font-size:11px;
	padding-left:2px;
	padding-right:2px;
}

.stat_table_parent{
	width:100%;
	padding-top:1px;
	padding-bottom:1px;
}

.stat_table_stat_span { background-color: #484444;}

.stat_table_stat_span_bonus
{
	color:#00DD00;
}

.stat_table_stat_compare_span
{
	padding: 0px 2px;
}

.stat_table_name_div{
	padding: 1px 3px;
	position:relative;
	font-size: 11px;
	color: #A0A098;
}

.stat_table_value_div{
	left:0px;
	position:absolute;
	text-align:right;
	top:0px;
	width: 152px;
	color: #C0C0C0;
}

.stat_table_name_div:hover{
	background-image:none;
	background-color: #40C0D8;
	color: black;
	cursor:default;
}

.stat_table_name_div:hover span {
	background-image:none;
	background-color: #00C0D8;
	color: black;
	cursor:default;
}

.character_sheet_bottom_item_panel
{
	width:200px;
}

.character_sheet_bar_parent
{
	width:200px;
}

/*
 * class race selector
 */

.character_class_icon
{
	width:48px;
	height:48px;
	cursor:pointer;
}

.character_race_icon
{
	width:48px;
	height:48px;
	cursor:pointer;
}

 
.race_selector_parent_div{
	position:relative;
	z-index:10;
	background-image:url(images/race_class_selector_border.jpg);
	background-repeat:no-repeat;
	padding:2px;
}

.class_selector_parent_div{
	position:relative;
	z-index:9;
	background-image:url(images/race_class_selector_border.jpg);
	background-repeat:no-repeat;
	padding:2px;
	margin-left:3px;
}

.class_selector_div{
	position:absolute;
	top:0px;
	left:32px;
	z-index:100;
	background-image:url(images/tooltip/bg.png);
}

.class_selector_icon{
	width:32px;
	height:32px;
}

.race_selector_div{
	position:absolute;
	top:0px;
	left:32px;
	z-index:100;
	background-image:url(images/tooltip/bg.png);
}

.race_selector_icon{
	width:32px;
	height:32px;
}

.race_class_selector_bg
{
	background-image:url(images/race_class_selector_bg.jpg);
}

.race_class_selector_bg_right_bottom
{
	background-image:url(images/race_class_selector_bg_rb.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}
.race_class_selector_bg_right_top
{
	background-image:url(images/race_class_selector_bg_rt.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}

.race_class_selector_table
{
	padding:5px;
}

.buff_bar_bg
{
	background-image:url(images/buff_bar_bg.jpg);
}

.buff_bar_bg_right_bottom
{
	background-image:url(images/buff_bar_bg_rb.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}

.buff_bar_bg_right_top
{
	background-image:url(images/buff_bar_bg_rt.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}

.buff_race_class_level_table
{
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

/* RaceClassSelector */

.rcs_parent {
	float: left;	
}

.rcs_icon_container {
	position: absolute;
	width: 300px;
	border: 1px solid #444040;
	background-color: #262323;
	padding: 10px;
}

.rcs_icon_race_container {
	position: absolute;
	border: 1px solid #444040;
	background-color: #262323;
	padding: 10px;
}

.rcs_icon {
	width: 48px;
	height: 48px;
	float: left;
	margin: 3px;
	cursor: pointer;
	border: 1px solid black;
}

.rcs_shadow {
/*	background: url(images/site/item_slot_shadow.png) 6px 6px no-repeat; */
	height: 48px;
	width: 48px;
	top: 0px;
	left: 0px;
}

.rcs_race_icon {
	width: 48px;
	height: 48px;
	margin: 3px;
	cursor: pointer;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.rcs_select_header {
	color: #808080;
	font-family: Georgia, serif;
	font-size: 20px;
	padding-bottom: 10px;
}

.rcs_close {
	cursor: pointer;
	float: right;
}

.rcs_faction_alliance {
	color: #3366DC;
	font-family: Georgia, serif;
	font-size: 20px;
	width: 100px;
	text-align: center;
}

.rcs_faction_horde {
	color: #FF3300;
	font-family: Georgia, serif;
	font-size: 20px;
	width: 100px;
	text-align: center;
}

.rcs_icon_s {
	width: 34px;
	height: 34px;
}

.rcs_icon_l {
	width: 34px;
	height: 34px;
	padding: 7px;
}

.rcs_event_l {
	width: 44px;
	height: 44px;
	top: 2px;
	left: 2px;
	cursor: pointer;
}

.rcs_border {
	background: url(images/site/rc_border.png) 0px 0px;
	width: 48px;
	height: 48px;
	top: 0px;
	left: 0px;
}

.rcs_class_border {
	width: 48px;
	height: 48px;
	top: 0px;
	left: 0px;
}

.cs_level_parent {
	padding-top: 3px;
	padding-left: 3px;
	float: left;
}

.cs_m_grid {
}

.cs_m_grid_lb {
	height: 30px;
	background-image: url(images/site/dark_sheet_lb.jpg);
}

.cs_m_grid_b {
	width: 340px;
	height: 5px;
	background-image: url(images/site/cs_b.jpg);
}

.cs_m_grid_sl {
	margin: 0px;
}

.cs_m_grid_sr {
}

.cs_m_grid_t {
	clear: both;
}

.cs_st_p {
	border: none;
	margin-bottom: 5px;
}

.cs_st_c {
	background-color: #484444;
	border-bottom: 1px solid #343030;
	border-left: 1px solid #343030;
}

.cs_t {
	width: 290px;
	height: 74px;
	padding-top: 10px; padding-left: 10px;
}

.cs_w_grid {
	margin: 0px auto;
}

.cs_sheet_p {
	padding: 0px 0px;
	padding-bottom: 15px;
}

.cs_shape {
	float: left;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: 1px 1px no-repeat;
}

.cs_prof_sel {
	width: 150px;
	margin: 2px 2px;
}

.cs_prof_level_sel {
	width: 60px;
	margin: 2px 2px;
}

.cs_prof_p {
	background-color: #3c3838;
	border: 1px solid #343030;
	border-left: none;
	border-right: none;
	padding-bottom: 5px;
}

.cs_prof_grid {
	margin-left: 30px;
}

.cs_prof_title {
	font-size:12px;
	font-weight: bold;
	color: #808080;
	padding: 4px 0px 4px 2px;
	font-family: Georgia, serif;
}

.bb_buff { 
	float: left; width: 24px; height: 24px; margin: 0px 1px 1px 0px; border: 1px solid #333333; background: center center no-repeat; cursor: pointer;
	font-size: 14px; font-weight: bold; line-height: 24px; vertical-align: bottom;
}
.bb_p { float: right; width: 144px; height: 54px; }


.ps_presence { float: left; width: 26px; height: 26px; cursor: pointer; background: 1px 1px no-repeat; }