html, body {
	background-color: #1C1412;
	font-size:13px;
	font-family: Tahoma;
	color:#EEEEEE;
	margin:0;
	background-image: url(images/site/background.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}

h1{
	color:#333333;
	font-family:Georgia;
	font-weight: bold;
	font-size:20px;
	margin:0px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	text-align:left;
	text-decoration:underline;
}

h2{
	font-family:Georgia;
	font-weight: bold;
	font-size:16px;
	color:#E43F19;
	margin:0px;
	padding-left:10px;
}

h3{
	font-size:12px;
	color:#333333;
	margin:0;
	font-weight: bold;
}

h4
{
	font-family:Georgia;
	font-weight: bold;
	font-size:16px;
	color:#E43F19;
	margin:0px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

h5
{
	color:#33CC00;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	margin:0px;
	padding:15px;
}


h6
{
	color:#CC3300;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	margin:0px;
	padding:15px;
}

.single_select { outline: 0; background: #FFFFFF; border:0px solid #000000; padding: 2px; margin: 2px; line-height: 20px; height: 24px; }
.single_select_focussable:focus { border-color: #EEBB00; padding: 1px; margin:1px; border-width: 2px;}

.multi_select { outline: 0; background: #FFFFFF; border:0px solid #000000; padding: 2px; margin: 2px; }
.multi_select_focussable:focus { border-color: #EEBB00; padding: 1px; margin:1px; border-width: 2px;}

.input { outline: 0; background: #FFFFFF; border:1px solid #000000; padding: 2px; margin: 2px; line-height: 20px; height: 20px; }
.input:focus { border-color: #EEBB00; padding: 1px; border-width: 2px;}
.input_small { line-height: 16px; height: 16px; }

.button{
	cursor: pointer;
	font-size: 12px;
	font-weight:bold;	
	color: #E5CEC3;
	display: block;
	padding: 2px;
	line-height: 24px;
	background: no-repeat;
	height: 28px;
	text-align:center;
	margin: 0 auto;
	padding-left: 20px;
	border: 0px none #000000;
	font-family: Tahoma, sans-serif;
}

img{
	border: 0;
}

a{
	color:#FFCC33;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

#main_table {
	margin: 0 auto 0 auto;
}

#main_menu{
	margin-left:0px; 
	margin-bottom:5px;
}

#content_td{
	background-image: url(images/sheet.jpg);
}

#head_td{
	background-image: url(images/sheet.jpg);
}

#tail_td{
	background-image: url(images/sheet.jpg);
}

#content{
	min-height:650px;
	height:auto !important;
	height:650px;
	padding: 8px 0px 0px 0px;
}

#workspace{
	min-height:650px;
	height:auto !important;
	height:650px;
}

.link_main_menu{
	color: #00A9BF;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid  #007C8C;
}

.link_main_menu:hover{
	text-decoration:none;
	border-bottom: 1px solid #004F59;
}

.link_main_menu_active{
	color:#FFFFFF;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid  #007C8C;
}

.link_main_menu_active:hover{
	text-decoration:none;
	border-bottom: 1px solid #004F59;
}

.link_hover_div{
	line-height:200%;
	border:1px solid #333333;
	top:14px;
	left:0px;
	display:none; 
	position:absolute; 
	background-image:url(images/tooltip/bg.png); 
	z-index:1000;
	width:100%;
}

.copyright{
	font-size:10px;
	font-weight:bold;
	color:#606060;
	padding-top:5px;
	padding-bottom:5px;
}

.copyright_blizzard{
	font-size:10px;
	font-weight:bold;
	color:#606060;
	padding-bottom:5px;
}

.logo{
	height:53px;
	background-image: url(images/site/logo.jpg);
	background-position: center bottom ;
	background-repeat: no-repeat;
}

.align_right{
	margin-left:auto;
	margin-right:0;
}

.align_center{
	margin-left:auto;
	margin-right:auto;
}

.text_align_center{
	text-align:center;
}
.text_align_right{
	text-align:right;
}

.login_container
{
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.menu_right
{
	background-image:url(images/site/menu_r.png);
	width:7px;
	height:50px;
}

.menu_left
{
	background-image:url(images/site/menu_l.png);
	width:8px;
	height:50px;
}

.menu
{
	background-image:url(images/site/menu.png);
	height:50px;
	margin-left:auto;
	margin-right:auto;
}

.menu_active
{
	background-image:url(images/site/menu_active.jpg);
	height:50px;
	margin-left:auto;
	margin-right:auto;
}

.menu_border
{
	width:1px;
	height:30px;
	background-color:#333333;
}

.link_active
{
	color:#FFFFFF;
	text-decoration:underline;
}

/*
 * 
 * old styles.css import
 * 
 */
.login_input
{
	width:110px;
}

.gui_name_parent
{
	margin-left:20px;
	margin-right:20px;
	position:relative;
}

.gui_name_div
{
	font-family: Georgia,serif;
	position:absolute;
	top:-28px;
	left:-20px;
	z-index:1;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	width:220px;
	overflow:hidden;
}

.gui_name_shadow_div
{
	font-family: Georgia,serif;
	position:absolute;
	top:-26px;
	left:-18px;
	z-index:1;
	color:#000000;
	font-weight:bold;
	font-size:16px;
	line-height:20px;
	width:220px;
	overflow:hidden;
}

.dark_sheet
{
	background-Image : url(images/sheet_dark.jpg) ;
}

.dark_sheet_left_top
{
	background-Image: url(images/sheet_dark_lt.jpg);
	background-Position : left top ;
	background-Repeat : no-repeat ;
}

.dark_sheet_right_top
{
	background-Image : url(images/sheet_dark_rt.jpg) ;
	background-Position : right top ;
	background-Repeat : no-repeat ;
}

.dark_sheet_left_bottom
{
	background-Image : url(images/sheet_dark_lb.jpg) ;
	background-Position : left bottom ;
	background-Repeat : no-repeat ;
}

.dark_sheet_right_bottom
{
	background-Image : url(images/sheet_dark_rb.jpg) ;
	background-Position : right bottom ;
	background-Repeat : no-repeat ;
	padding : 10px 5px 10px 5px;
}

.profession_parent
{
	padding:5px;
}

.profession_title
{
	padding-bottom:5px;
}

.green{
	color:#00DD00;
}

.red{
	color:#DD0000;
}

.white{
	color:#FFFFFF;
}

.black{
	color:#000000;
}

.grey{
	color:#999999;
}

.yellow{
	color:#DDDD00;
	font-weight:bold;
}

.gradient_stripe_left
{
	background-image:url(images/import_stripe.jpg);
	background-position:left;
	font-weight:bold;
	height:24px;
	line-height:24px;
	margin-top:3px;
	margin-bottom:3px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	text-align:left;
	width:250px;
	color:#FFFFFF;
}

.gradient_stripe_left_content
{
	float:left;
	line-height:inherit;
}

.gradient_stripe_right{
	float:right;
	line-height:normal;
}

.main_tab_notice
{
	color:#FFFFFF;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

.import_tab_node
{
	text-align:center;
}

.link_tier2{
	font-family:Georgia;
	cursor:pointer;
	border-bottom:1px solid #0090C0;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:2px;
	text-decoration:none;
	color:#0090C0;
	font-weight:bold;
	font-size:12px;
}

.link_tier2:hover{
	border-bottom-color: #004860;
	padding-left:10px;
	padding-right:10px;
	color:#FFFFFF;
}

.link_tier2_left
{
	display:none;
}

.link_tier2_right
{
	display:none;
}

.link_tier2_active{
	font-family:Georgia;
	font-size:14px;
	cursor:pointer;
	color:#FFFFFF;
	font-weight:bold;
	border-bottom:1px solid #0090C0;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:2px;
	text-decoration:none;
}


.link_tier2_active:hover{
	color:#FFFFFF;
	border-bottom-color: #004860;
}

.link_tier2_left_active
{
	display:none;
}

.link_tier2_right_active
{
	display:none;
}

.base_stats_class_link
{
	color:#333333;
	padding-left:3px;
	padding-right:3px;
	font-size:11px;
}

.base_stats_class_link:hover
{
	color:#408AB6;
}

.base_stats_class_link_active
{
	color:#FFFFFF;
	font-size:14px;
	padding-left:3px;
	padding-right:3px;
}

.base_stats_class_link_active:hover
{
	color:#E43F19;
}

.save_tab_node
{
	text-align:center;
}

.main_folder_content
{
	width:100%;
}

.small_shadow_right{
	background-image: url(images/small_shadow_r.png);
	background-repeat: repeat-y;
	background-position:right top;
}

.small_shadow_top{
	background-image: url(images/small_shadow_t.png);
	background-repeat: repeat-x;
	background-position:left top;
}

.small_shadow_bottom{
	background-image: url(images/small_shadow_b.png);
	background-repeat: repeat-x;
	background-position:left bottom;
}

.small_shadow_left_top{
	background-image: url(images/small_shadow_lt.png);
	background-repeat: no-repeat;
	background-position:left top;
	width:4px;
	height:4px;
}

.small_shadow_right_top{
	background-image: url(images/small_shadow_rt.png);
	background-repeat: no-repeat;
	background-position:right top;
	width:4px;
	height:4px;
}

.small_shadow_left_bottom{
	background-image: url(images/small_shadow_lb.png);
	background-repeat: no-repeat;
	background-position:left bottom;
	width:4px;
	height:4px;
}

.small_shadow_right_bottom{
	background-image: url(images/small_shadow_rb.png);
	background-repeat: no-repeat;
	background-position:right bottom;
	width:4px;
	height:4px;
}


.forum_bg_top
{
	background-image:url(images/forum_bg_t.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	height:40px;
}

.forum_bg_left_top
{
	background-image:url(images/forum_bg_lt.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	height:40px;
}

.forum_bg_right_top
{
	background-image:url(images/forum_bg_rt.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	height:40px;
}

.forum_bg_bottom
{
	background-image:url(images/forum_bg_b.jpg);
	background-position:left bottom;
	background-repeat:repeat-x;
	height:40px;
}

.forum_bg_left_bottom
{
	background-image:url(images/forum_bg_lb.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	height:40px;
}

.forum_bg_right_bottom
{
	background-image:url(images/forum_bg_rb.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	height:40px;
}
.forum_bg_left
{
	background-image:url(images/forum_bg_l.jpg);
	background-position:left top;
	background-repeat:repeat-y;
	padding-left:30px;
}
.forum_bg_right
{
	background-image:url(images/forum_bg_r.jpg);
	background-position:right top;
	background-repeat:repeat-y;
	padding-right:30px;
}

.forum_bg
{
	background-color:#E2CEA6;
}

.no_wrap {
	white-space: nowrap;
}

.spell_icon{
	border: 1px solid #333333;
}

.sc_menu {
	display:none; 
	position: absolute;
	background-image: url(images/tooltip/bg.png);
	padding-left: 10px;
	padding-right: 10px;
	line-height: 150%;
}

.sc_menu_gh {
	font-size: 14px;
}

.clear_both { clear: both; }
.float_left { float: left; }
.float_right { float: right; }
/* socket interface */

.si_main {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}


.si_bg {
	width: 67px;
	height: 67px;
	background-repeat: no-repeat;
	background-position: center center;
}

.si_braces {
	width: 67px;
	height: 67px;
	background-repeat: no-repeat;
	background-position: center center;
}

.si_highlight {
	width: 67px;
	height: 67px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(images/charsheet/slot_over.png);
}

.si_unselected_border {
	width: 67px;
	height: 67px;
}

.si_selected_border{
	width: 67px;
	height: 67px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-image: url(images/socket_interface/socket_arrow.png);
}

.si_gem_icon {
	width: 33px;
	height: 33px;
	margin: 17px;
}

.si_no_highlight {
	width: 67px;
	height: 67px;
}
.si_event {
	top: 12px;
	left: 12px;
	width: 43px;
	height: 43px;
	cursor: pointer;
}

.si_socket_parent {
	margin: 0 auto;
	padding: 5px 0px;
}

.si_used_gem {
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	float: left;
	margin: 1px;
	border: 1px solid #666666;
	background: 1px 1px no-repeat;
}

.si_used_title_fix {
	float: left;
	display: block;
	height: 28px;
	width: 100px;
	font-weight: bold;
	vertical-align: middle;
}

.si_used_parent {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}

/* tooltip */

.tt_overlay {
	position: absolute;
	display: none;
	background-image: url(images/tooltip/bg.png);
	z-index: 10000000;
}

/* overlay */
.overlay {
	position: absolute;
	display: none;
	background-image: url(images/tooltip/bg.png);
	z-index: 5000000;
}


/* reforge interface */

.rf_header 
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 48px;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	border-bottom: 1px solid #006C80;
	padding-bottom: 5px;
}

.rf_title 
{
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 5px 0px;
	color: #009EB3;
}

.rf_stats { padding-right: 5px; }

.rf_main {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}

.rf_help
{
	color: #006C80;
	font-size: 11px;
	padding: 10px 0px 5px 0px;
}

.rf_notice 
{
	color: #808080;
}

.rf_button_parent {
	padding: 5px 0px;
}

.rf_reduced
{
	color: #DD3333;
	font-weight: bold;
}

.rf_added
{
	color: #00DD00;
	font-weight: bold;
}

.rf_batch_select
{
	width: 150px;
	overflow: hidden;
}

.rf_wowreforgeurl { width: 570px; display: block; margin: 0 auto; }
.rf_op_reduce { color: #E00000; white-space: nowrap; }
.rf_op_added { color: #00E000; white-space: nowrap; }
.rf_op_value { color: #606060; font-size: 11px;}

.rf_op_reduce_old { color: #800000; font-weight:bold; white-space: nowrap; }
.rf_op_added_old { color: #008000; font-weight:bold; white-space: nowrap; }
.rf_op_value_old { color: #808080; font-weight:bold; white-space: nowrap;}

.rf_op_reduce_new { color: #FF0000; font-weight:bold;  white-space: nowrap; }
.rf_op_added_new { color: #00FF00; font-weight:bold;  underline; white-space: nowrap; }
.rf_op_value_new { color: #FFFFFF; font-weight:bold; underline; white-space: nowrap; }

.rf_op_table { border-collapse: collapse;}
.rf_op_cell {padding: 2px 2px; line-height: 18px; border: 1px solid #261F1D; color: #808080;
	min-width:40px;
	width:auto !important;
	width:40px;
}
.rf_op_itm { cursor: pointer; font-weight: normal;}
.rf_op_stat { background-color: #151010;}
.rf_op_sum { background-color: #151010;}
.rf_op_in { width: 40px; margin: 2px 2px; line-height: 16px; background-color: #EEEEEE; }
.rf_op_tot { padding: 0px 4px; border-left-width: 3px; background-color: #100C0C; text-align: right;}
.rf_op_header{text-align: center; color: #FFCC00}
.rf_op_icon {display: block; height: 24px; width: 24px; background: no-repeat center center;}
.rf_op_coll_content {padding: 5px 0px; }
.rf_op_notice {color: #808080; font-size:11px;}
.rf_wowreforge_export_note {color: #808080; font-size:11px;}
.rf_wowreforge_export_l {cursor: pointer; font-size: 14px;}
.rf_wowreforge_export_goto {cursor: pointer;};

/* List */
.list_bg
{
	background-image:url(images/list_bg.jpg);
}

.list_bg_right_bottom
{
	background-image:url(images/list_bg_rb.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}

.list_bg_right_top
{
	background-image:url(images/list_bg_rt.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}

.list_bg_left_bottom
{
	background-image:url(images/list_bg_lb.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
}

.list_bg_left_top
{
	background-image:url(images/list_bg_lt.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}

.list_parent_bg
{
	background-image:url(images/list_parent_bg.jpg);
}

.list_parent_bg_left_bottom
{
	background-image:url(images/list_parent_bg_lb.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
}

.list_parent_bg_left_top
{
	background-image:url(images/list_parent_bg_lt.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}

/* import / save */

.im_sa_h 	{ height: 42px; width: 379px; background: url(images/site/import_t.png) top left no-repeat;
			  color: #60D0F0; font-size:12px; font-weight: bold; line-height: 42px; padding-left: 25px }
.im_sa_r 	{ height: 36px; width: 404px; background: url(images/site/import_r.png) top left no-repeat; }
.im_sa_b	{ height: 36px; line-height: 36px; width: 404px; background: url(images/site/import_b.png) top left no-repeat; text-align: center; }

.im_sa_center{ line-height: 36px; width: 404px; text-align: center; }
.im_sa_left { line-height: 36px; float:  left; width: 177px; padding-left: 25px; }
.im_sa_right{ line-height: 36px; float: right; width: 177px; padding-right: 25px; text-align: right; }

.im_sa_p 	{ margin: 0 auto; width: 404px; margin-top: 10px; }
.im_sa_in	{ width: 177px; height: 24px; line-height: 24px; }
.im_sa_border {border-bottom: 4px solid #201515;width: 404px;}
.im_sa_notice { padding: 0px 25px; line-height: 36px; color: #E5CEC3; font-size:12px; font-weight: bold;}

.im_sa_btn {
	width: 104px;
	background-image: url(images/site/buttons.png);
	background-position: 0px 0px;
}

.im_sa_btn_hover_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -2px -30px; text-decoration: none; color: #FFFFFF; }
.im_sa_btn_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -2px -2px; }
.im_sa_btn_hover { background-position: 0px -28px; text-decoration: none; color: #FFFFFF; }
.im_sa_add_padding {padding-top: 3px;}

.im_sa_save_btn {
	width: 144px;
	background-image: url(images/site/buttons.png);
	background-position: -312px 0px;
}
.im_sa_save_btn_hover_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -314px -30px; text-decoration: none; color: #FFFFFF; }
.im_sa_save_btn_focus { border: 2px solid #EEBB00; padding: 0px; padding-left: 18px; background-position: -314px -2px; }
.im_sa_save_btn_hover { background-position: -312px -28px; text-decoration: none; color: #FFFFFF; }

/* main folder selector */

.mtf_p		{ height: 30px; width: 540px; margin: 0 auto; position: relative; top: 0px; left: 0px;}
.mtf_p2		{ height: 40px;}
.mtf_sel	{ color: #009EB3; height: 42px; cursor: pointer; text-align: center; position: absolute; top: 0px; left: 0px; }

.mtf_i0 	{ color: inherit; height: 22px; width: 140px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) 0px -42px no-repeat; }
.mtf_i1 	{ color: inherit; height: 22px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -140px -42px no-repeat; }
.mtf_i2 	{ color: inherit; height: 22px; width: 90px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -220px -42px no-repeat; }
.mtf_i3 	{ color: inherit; height: 22px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -310px -42px no-repeat; }
.mtf_i4 	{ color: inherit; height: 22px; width: 70px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -390px -42px no-repeat; }
.mtf_i5 	{ color: inherit; height: 22px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -460px -42px no-repeat; }

.mtf_i0_a 	{ color: #FFFFFF; height: 32px; width: 140px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) 0px 0px no-repeat; }
.mtf_i1_a 	{ color: #FFFFFF; height: 32px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -140px 0px no-repeat; }
.mtf_i2_a 	{ color: #FFFFFF; height: 32px; width: 90px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -220px 0px no-repeat; }
.mtf_i3_a 	{ color: #FFFFFF; height: 32px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -310px 0px no-repeat; }
.mtf_i4_a 	{ color: #FFFFFF; height: 32px; width: 70px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -390px 0px no-repeat; }
.mtf_i5_a 	{ color: #FFFFFF; height: 32px; width: 80px; padding-top: 8px; float: left; display: block; background: url(images/site/mtf.png) -460px 0px no-repeat; }

/* talent folder selector */

.ttf_sel { color: #009EB3; height: 34px; width: 162px; margin: 0 399px; background:url(images/site/ttf.png) 0px 0px no-repeat; cursor: pointer; text-align: center; margin-top: 3px; }

.ttf_i0 { color: inherit; height: 34px; width: 81px; float: left; display: block; }
.ttf_i1 { color: inherit; height: 34px; width: 81px; float: left; display: block; }

.ttf_i0_a { color: #FFFFFF; height: 34px; width: 81px; float: left; background:url(images/site/ttf.png) -0px -34px; display: block; }
.ttf_i1_a { color: #FFFFFF; height: 34px; width: 81px; float: left; background:url(images/site/ttf.png) -81px -34px; display: block; }

.ttf_l_f { font-size: 11px; line-height: 34px; }

/* equip folder selector */

.eqf_sel {
	color: #FFE0C0;
	height: 50px;
	width: 480px;
	margin: 0 auto;
	background:url(images/site/menu.png) 0px 0px no-repeat;
	cursor: pointer;
	text-align: center;
}

.eqf_i0 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }
.eqf_i1 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }
.eqf_i2 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }
.eqf_i3 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }
.eqf_i4 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }
.eqf_i5 { color: inherit; height: 28px; padding-top: 22px; width: 80px; float: left; display: block; }

.eqf_i0_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) 0px -50px;
	display: block;
}
.eqf_i1_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) -80px -50px;
	display: block;
}
.eqf_i2_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) -160px -50px;
	display: block;
}
.eqf_i3_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) -240px -50px;
	display: block;
}
.eqf_i4_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) -320px -50px;
	display: block;
}
.eqf_i5_a {
	color: #FFCC33;
	height: 28px;
	padding-top: 22px;
	width: 80px;
	float: left;
	background:url(images/site/menu.png) -400px -50px;
	display: block;
}

.eqf_i0:hover {
	color: #E43F19;
	background:url(images/site/menu.png) 0px -100px;
}
.eqf_i1:hover {
	color: #E43F19;
	background:url(images/site/menu.png) -80px -100px;
}
.eqf_i2:hover {
	color: #E43F19;
	background:url(images/site/menu.png) -160px -100px;
}
.eqf_i3:hover {
	color: #E43F19;
	background:url(images/site/menu.png) -240px -100px;
}
.eqf_i4:hover {
	color: #E43F19;
	background:url(images/site/menu.png) -320px -100px;
}
.eqf_i5:hover {
	color: #E43F19;
	background:url(images/site/menu.png) -400px -100px;
}
.eqf_i0_a:hover {
	color: #FFCC33;
}
.eqf_i1_a:hover {
	color: #FFCC33;
}
.eqf_i2_a:hover {
	color: #FFCC33;
}
.eqf_i3_a:hover {
	color: #FFCC33;
}
.eqf_i4_a:hover {
	color: #FFCC33;
}
.eqf_i5_a:hover {
	color: #FFCC33;
}

.eqf_l_f {
	font-size: 12px;
	font-weight: bold;
}


.collapse {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}

.collapse_c {
	padding-top: 10px;
}

.collapse_h {
	font: 20px Georgia,serif bold;
	color: #FFFFFF;
	cursor: pointer;
}

/* Batch operations */

.ba_collapse {}
.ba_collapse_c {}
.ba_collapse_h {}

.ba_op_container {
	border: 1px solid #261F1D;
	background-color: #1A1514;
	padding: 5px;
}

.ba_op_title {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}

.ba_op_content {
	padding: 0px 10px;
}

.ba_op_help
{
	color: #808080;
}

.ba_simple_op_link 
{
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
	color: #FFCC33;
	line-height: 200%;
	margin-left: 10px;
}

/* list */

.li_loading {
	padding: 5px 0px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 41px;
	line-height: 31px;
	vertical-align: middle;
	background: url(images/25-1.gif) no-repeat 5px 5px;
}

/* item list*/

.il_page_btn {
	cursor: pointer;
	font-size: 12px;
	font-weight:bold;	
	color: #CCBCC8;
	display: block;
	padding: 2px;
	line-height: 24px;
	background: no-repeat;
	height: 24px;
	width: 82px;
	text-align:center;
}

.il_page_btn:hover { color: #FFFFFF; text-decoration: none; }


.il_page_btn_arrow {
	font-weight: normal;
	font-family: arial, sans-serif;
}

.il_page_btn_arrow_l {
	margin-right: 3px;
}
.il_page_btn_arrow_r {
	margin-left: 3px;
}

.il_c {
	border: 1px solid #1A1514;
	background-color: #261F1D;
}

.il_page_p {
	margin-top: 2px;
}

.il_prev_page {
	float:left;
	background-image: url(images/site/buttons.png);
	background-position: -208px 0px;
	padding-left: 20px;
}

.il_prev_page:hover {background-position: -208px -28px; }

.il_curr_page {
	font-size: 14px;
	font-weight:bold;
	color: #EEEEEE;
}

.il_next_page {
	float:right;
	background-image: url(images/site/buttons.png);
	background-position: -104px 0px;
	padding-right: 20px;
}
.il_next_page:hover {background-position: -104px -28px; }

.il_sort_link {
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #FFCC33;
}

.il_sort_link_active {
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.il_sort_c {
	padding-bottom: 2px;
	border-bottom: 1px solid #C09000;
}

.il_imp_col {
}

.il_unimp_col {	
	font-size: 11px;
	color: #A0A0A0;
}

.il_row0 {
}

.il_row1 {
	background: #332927;
}

.il_icon {
	width: 24px;
	height: 24px;
	border: solid 1px #333333;
}

.il_notice {
	font: 14px Tahoma, sans-serif bold;
	padding: 10px;
	text-align: center;
}

.il_nothing {
	padding: 5px;
}

.il_heroic {
	font-size: 11px;
	font-style: italic;
	color: #00DD00;
	margin-left: 3px;
	cursor: default;
}

.il_swb {
	color: #C0C0C0;
	margin: 0px 4px;
}

.il_swb_p {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}

.pl_entry_h {
	background: #1A1514;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	font-size: 11px;
	color: #A0A0A0;
}

.pl_import_link {
	color: #60D0F0;
	margin-left: 5px;
	cursor: pointer;
}

.pl_delete_link {
	color: #E43F19;
	margin-left: 5px;
	cursor: pointer;
}

/* item filter */

.if_collapse {}
.if_collapse_c {}
.if_collapse_h {}

.if_custom_parent {
}

.if_input_range {
	width: 40px;
}

.if_input {
	width: 100px;
}

.if_input_name {
	margin: 0px 5px;
}

.if_select {
	width: 100px;
}

.if_remove_cf {
	cursor: pointer;
	font-size: 18px;
	margin: 2px 0;
}

.if_remove_cf:hover {
	text-decoration: none;
}

.if_cf_parent {
}

.if_in_first {
	margin-top: 20px;
	margin-bottom: 3px;
}

.if_in_later {
	margin-bottom: 3px;
}

.if_in_title {
	width: 125px;
	overflow: hidden;
	display: inline-block;
}

.if_sel_title {
	line-height: 20px;
	white-space: nowrap;
	margin: 0px 3px;
}

.if_propagate {
	color: #A0A0A0;
}

.g_save_parent {
	background-color: #333333;
}

.g_import_parent {
	background-color: #333333;
}

.TMP_SELECT_PARENT_STYLE{
	padding: 5px;
}
/* glyph interface */
.gi_slot {height: 46px; width: 250px; background-position: 0px 2px; background-repeat: no-repeat; background-image:url(images/site/glyph_base.jpg); position:relative; top:0px; left:0px; }
.gi_glyph_t {width: 250px; padding: 4px 8px; font-size: 14px;  font-weight: bold; color: #808080; text-align: center }
.gi_border { background: no-repeat top left; width: 46px; height: 46px; position: absolute; top: 0px; left: 0px; }
.gi_border_p { background-image: url(images/site/glyph_border_p.png); }
.gi_border_m { background-image: url(images/site/glyph_border_m.png); }
.gi_border_i { background-image: url(images/site/glyph_border_i.png); }

.gi_type_title { font-size: 14px; font-weight: bold; color: #FFCC33; padding: 5px 0px;}
.gi_list_item { padding-left: 10px; color: #DDDDDD; cursor: pointer; }
.gi_list { margin-left: 25px; background-color: #2D211E; border: 1px solid #403430; padding: 5px; padding-top: 0px;}
.gi_p { padding-top: 5px; }

.gi_glyph { font-size: 14px; line-height: 46px; cursor: default; }

.gi_unavailable { color: #E43F19;}
.gi_unused { color: #808080;}

.gi_used {
	cursor: pointer;
	color: #DDDDDD;
	font-size: 12px;
}

.gi_glyph_td {
	background: no-repeat 7px 7px;
	padding-left: 50px;
	height: 46px;
}

.lp_t {
	height: 52px;
	padding-top: 8px;
}

.lp_m {
	padding: 8px;
}

.lp_b {
	background: url(images/site/lp_b.jpg) no-repeat;
	height: 4px;
}

/* index */

.ix_login {
	margin: 5px 0px;
	width: 120px;
	height: 120px;
}

.ix_language {
	float : left; 
	margin-left: 10px
}

.ix_lang_info {
	font-size: 11px;
	color: #A0A0A0;
}

.ix_register {
	float : right; 
	width:115px; 
	margin-top:5px;
}

.ix_wrapper {
	width: 1120px;
	margin: 0 auto;
}

.content_m { background: url(images/site/c_bg_m.jpg) 0px 60px no-repeat; }
.content_t { background: url(images/site/c_bg_t.jpg) 0px 0px no-repeat; }
.content_b { background: url(images/site/c_bg_b.jpg) bottom left no-repeat; }
.content { padding: 0px 10px 0px 10px; margin-top: 5px; }

.ix_content_w {
	
}

.ix_left {
	float: left;
	width: 960px;
}

.ix_right {
	float: right;
	width: 160px;
}
.ix_logo{
	height:53px;
	background-image: url(images/site/logo.jpg);
	background-position: center bottom ;
	background-repeat: no-repeat;
}

.ix_recover_pw_link {
	font-size: 10px;
}

.ix_stay_logged_in {
	font-size: 10px;
	color: #808080;
}

.ix_ad_v { margin: 25px 0px; width:160px; height: 600px; }

.ix_ad_h { margin: 0px auto; width:728px; height: 90px; border: 1px dotted #808080; padding: 2px; }
.ix_copy {font-size:11px; color: #007C8C; text-align: center; font-weight: bold;}
.ix_disclaimer {font-size:11px; color: #666666; text-align: center;}
.ix_reg_link {font-size:16px;}
.ix_logout_p { text-align:center; padding-top: 10px;}
.ix_bottom_link_bar { text-align: center; font-size: 11px; padding: 10px 0px; }
.ix_bottom_link {padding: 0px 5px; font-size: 13px;}
.mm_w { height: 0px; }
.mm_w2 { height: 20px; }
.mm_c { position: relative; top: 0px; left: 10px; height: 20px;}
.re_fail { font-size: 14px; text-align: center; color: #FF6030; font-weight: bold;}
.re_success { font-size: 14px; text-align: center; color: #60FF30; font-weight: bold;}
.ne_table {
	margin: 0 auto;
}
.lo_notice { font-size: 14px; font-weight: bold; text-align: center; color: #E43F19; }
.rs_error { font-size: 14px; font-weight: bold; text-align: center; color: #E43F19; }
.rs_success { font-size: 14px; font-weight: bold; text-align: center; color: #60FF30; }

.pl_r {background: url(images/site/pl_r.jpg) 0px 30px repeat-y; width: 940px; margin: 10px auto 0 auto; }
.pl_b {background: url(images/site/pl_b.jpg) left bottom no-repeat; padding: 10px;}
.pl_t {background: url(images/site/pl_t.jpg) left top no-repeat;}

.ne_bg_t { background: url(images/site/news_t.jpg) no-repeat top center; overflow: hidden; }
.ne_bg_old_t { background: url(images/site/news_old_t.jpg) no-repeat top center; overflow: hidden; }
.ne_bg_f { background: url(images/site/news_f.jpg) no-repeat center 67px; overflow: hidden; }
.ne_bg_b { background: url(images/site/news_b.jpg) no-repeat bottom center; overflow: hidden; }

.ne_header
{
	background: url(images/site/news_h.jpg) no-repeat top center;
	text-align:left;
	color:#808080;
	line-height: 25px;
	height: 25px;
	padding: 0px 10px;
}

.ne_bg {
	background: url(images/site/news.jpg) repeat-y top center;
	width: 525px;
	margin: 0 auto 5px auto;
}

.ne_title { height: 42px; line-height: 42px; font-size:14px; font-weight: bold; color: #FFEED0; vertical-align: bottom; padding: 0 10px;}
.ne_title_old { height: 42px; line-height: 42px; font-size:12px; font-weight: bold; color: #C0C0C0; vertical-align: bottom; padding: 0 10px;}

.ne_content { padding: 5px 10px; min-height: 79px; height: auto !important; height: 79px;}

.ne_cl {line-height: 32px; border-top: 1px solid #201515; text-align: right; padding: 0px 10px;}
.dn_notice { color: #C0C0C0; padding-bottom: 10px; text-align: center; }
.dn_button { margin: 0 auto; padding-top: 10px; width: 150px; }
.dn_total {text-align: center; color: #FFCC00; font-size:14px; padding: 10px;}

.ov_class_1 { color: #c69b6d; }
.ov_class_2 { color: #f48cba; }
.ov_class_3 { color: #aad372; }
.ov_class_4 { color: #fff468; }
.ov_class_5 { color: #f0ebe0; }
.ov_class_6 { color: #c41e3b; }
.ov_class_7 { color: #2359ff; }
.ov_class_8 { color: #68ccef; }
.ov_class_9 { color: #9382c9; }
.ov_class_11 { color: #ff7c0a; }

.ov_character_info { font-size:14px; font-weight: bold; padding-bottom: 10px; }
.ov_parent { width: 800px; margin: 10px auto; }
.ov_slot {font-size: 11px;}
.ov_item {font-size: 14px; cursor:pointer; font-weight: normal;}
.ov_item_parent {padding-bottom: 5px;}
.ov_gem {font-size: 12px; cursor:pointer; font-weight: normal;}
.ov_socket{color: #808080;}
.ov_spec {font-weight: normal;}
.ov_enchant{color: #808080;}
.ov_enchant_desc{color: #00DD00;}
.ov_item_level{color: #606060;}
.ov_avg_item_level{color: #808080; font-size: 12px; font-weight: normal;}

.fm_in_min {width: 40px;}
.fm_in_max {width: 40px;}
.fm_in {width: 120px;}
.fm_sel {}
.fm_search {}
.fm_propagate{}
.fm_layout_t {padding-bottom:3px;}

.bi_buff_p {height:18px; width: 150px; margin: 1px; float: left; cursor: pointer; overflow: hidden; font-size: 11px; line-height: 18px; color: #C0C0C0; }
.bi_buff {height:16px; width:16px; border:1px solid #808080; margin-right:2px;  background: no-repeat center center; float: left; cursor: pointer;}

.rpi_parent {
	border: 1px solid #1A1514;
	background-color: #261F1D;
	padding: 5px;
	margin-bottom: 5px;
}

.rpi_title {	
	font: 20px Georgia,serif bold;
	color: #FFFFFF;
	cursor: pointer;
}

.rpi_content {
	padding-top: 10px;
}

.rpi_select {
	width: 500px;
	margin-left: 100px;
}

.bs_class_link {margin: 0px 5px;}
.bs_class_link_active { margin: 0px 5px; color: #FFFFFF; font-size: 13px; }
.bs_table {width: 800px; margin: 0 auto;}
.bs_th{text-align: right;color:#C0C0C0; font-size:11px; padding: 0px 5px; font-weight: bold; border-top: 1px solid #100A0A;}
.bs_th_left{text-align: left;color:#C0C0C0; font-size:11px; padding: 0px 5px 0px 10px; font-weight: bold; border-top: 1px solid #100A0A;}

.bs_header{background: url(images/site/forum_row_h.jpg) no-repeat -2px 0px;text-align:center;color:#808080;line-height: 25px;height: 25px;}

.bs_class_ll { line-height: 40px; width: 800px; margin: 0 auto; text-align:center;}
.bs_td_left {text-align:left;border-bottom: 1px solid #201515; line-height: 20px; padding: 0px 0px 0px 10px;}
.bs_td {text-align:right; border-bottom: 1px solid #201515; line-height: 20px;}
.bs_table_bg {
	background: url(images/site/forum_row.jpg) repeat-y top center;
	width: 804px;
	margin: 5px auto 0 auto;
}
.bs_row_f {
	background: url(images/site/forum_row_f.jpg) no-repeat center 25px;
	overflow: hidden;
}

.bi_collapse { padding: 2px; margin-bottom: 2px; } 
.bi_collapse_c { padding-top: 5px; }
.bi_collapse_h { font-size: 14px; }

.bi_cb_count { color: #808080; margin-left: 5px;}
.bi_fcc_parent { color: #C0C0C0; font-weight: 12px;}
.bi_fcc_f { margin-left: 5px; }

.swi_input_p { text-align: right; }
.swi_in {width: 40px; text-align: right;}
.swi_p { width: 600px }
.swi_lp { margin-left: 5px; }
.swi_layout_t { width: 590px; }
.swi_layout_lc { width: 220px; }
.swi_layout_rc { width: 370px; }
.swi_layout_llc {}
.swi_layout_lrc { text-align: right; }

.swi_save_coll { border: 1px solid #1A1514; background-color:#261F1D; margin: 4px 0px; color: #808080; }
.swi_save_ctrls { text-align: right; margin-top: 5px;}
.swi_save_coll_h {font-size: 14px; font-family: Tahoma; font-weight: bold;}

.swi_save_in { width: 202px; margin: 0px 0px; }
.swi_save_in_error { border-color: #DD0000; }
.swi_stats { color: #808080; padding-left: 5px; }
.swi_stats_t {width: 100%;}
.swi_save_error {color:#DD0000;}
.swi_loading {
	padding: 3px;
	height: 32px;
	width: 32px;
	background: url(images/25-1.gif) no-repeat center center;
}
.swi_ref_p {text-align: right;}

.swl_content_grid{ width: 100%;}
.swl_entry { display: block; cursor: pointer; padding: 5px; }
.swl_entry:HOVER { background-color: #003060; text-decoration: none; }
.swl_entry_b {border-bottom: 3px solid #1A1514;}
.swl_entry_desc { color: #808080; }
.swl_creator {color: #808080; font-weight: normal;}

.ol_top { 
	width: 585px; height: 39px; background: top center url(images/site/overlay_top.jpg) no-repeat; color:#FFFFFF;
	font-size: 14px; font-weight: bold; line-height: 39px; padding-left: 15px;
}
.ol_top_l {
	line-height: 39px; float: left;
}
.ol_top_r { line-height: 39px; float: right; cursor: pointer; margin: 8px; background-image: url(images/close.png); height: 24px; width: 24px;}
.ol_top_r:HOVER { background-image: url(images/close_hover.png); }
.ol_detail { 
	width: 588px; background: top center url(images/site/overlay_detail.jpg) no-repeat; border: 1px solid #403028; 
	border-top: none; background-color:#261F1D; padding: 5px;}