.tooltip_set_name
{
	margin-top:10px;
	color:#FFCC00;	
}
.tooltip_set_item_inactive
{
	margin-left:10px;
	color:#999999;
	line-height: 150%;
}

.tooltip_set_item_active
{
	margin-left:10px;
	color:#FFFF99;
	line-height: 150%;
}

.tooltip_set_bonus_spacing
{
	height:10px;
	width:300px;
}

.tooltip_set_bonus_inactive 
{
	font-size:11px;
	color:#999999;
}

.tooltip_set_bonus_active
{
	font-size:11px;
	color:#00DD00;
}

.tooltip_item_rating_stat
{
	color:#00DD00;
}

.tooltip_buff
{
	color:#00DD00;
}

.tooltip_shape
{
	color:#FFCC33;
	font-size:11px;
}

.tooltip_gem {
	padding-left: 20px;
	background-position: 1px center;
	background-repeat: no-repeat;
}

.tooltip_div{
	position:absolute;
	color: #EEEEEE;
	line-height:125%;
	z-index:10;
}

.fixed_tooltip_div{
	position:relative;
	color: #EEEEEE;
	z-index:10;
	font-size: 11px;
	line-height:120%;
	margin: 0 auto;
}

.tooltip_title {
	font-size:15px;
}

.tooltip_table{
	width:100%;
}

.tt_item {padding: 3px 2px ;}

.tooltip_talent_rank{
	font-size:12px;
}

.tooltip_talent_name{
	font-size:14px;
	white-space: nowrap;
}

.tooltip_talent_next_rank{
	margin-top:10px;
	font-size:12px;
}

.tooltip_talents_required{
	color:#DD0000;
}

.tooltip_spell_description{
	color:#FFCC33;
}

.tooltip_random_property
{
	color: #00DD00;
	font-size:12px;
	margin-left:10px;
}

.tooltip_random_property_desc
{
	color: #999999;
	font-size:11px;
	margin-left:3px;
}

.tooltip_right
{
	float:right;
	margin:0;
}

.tooltip_left
{
	float:left;
	margin:0;
}

.disable_div{
	background-image:url(images/tooltip/bg.png);
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	overflow:hidden;
	z-index:1000;
}

.tooltip_socket_empty
{
	color: #999999;
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.tooltip_spell_desc_link 
{
	font-weight: normal;
	color: inherit;
}

.tooltip_spell_desc_link:hover
{
	text-decoration: underline;
	color: inherit;
}

.tooltip_content{
	color: #EEEEEE;
	background-image:url(images/tooltip/bg.png);
	line-height:150%;
	padding:5px;
	border:1px solid #333333;
	font-size:12px;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
}

.tt_overlay {
	position: absolute;
	display: none;
	background-image:url(images/site/disable_light.png);
	z-index: 10000000;
}

.overlay {
	position: absolute;
	display: none;
	background-image: url(images/tooltip/bg.png);
	z-index: 5000000;
}

.tt_small{
	color: #EEEEEE;
	background-image:url(images/tooltip/bg.png);
	line-height:100%;
	padding:5px;
	border:1px solid #333333;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
}

.tt_loading 
{
	position: absolute;
	background: url(images/25-1.gif) no-repeat;
	font-size: 24px;
	font-family: Georgia, serif;
	background-position: left center;
	padding-left: 41px;
	height: 31px;
	line-height: 31px;
	color: #808080;
}

.tt_default_c
{
	position: absolute;
	padding: 10px;
	width: 600px;
	height: 400px;
	overflow: scroll;
	background-color: #000000;
}
.tt_error_msg_title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.tt_error_msg_content {
}
.tt_error_msg
{
	text-align:left;
	color: #C03300;
	padding: 10px;
	border: 1px solid #444040;
	background-color: #262323;
	margin: 0 auto;
	display: inline-block;
}

.tt_msg
{
	font-size: 20px;
	font-family: Georgia, serif;
	text-align:center;
	padding: 10px;
	line-height: 150%;
	border: 1px solid #444040;
	background-color: #262323;
	margin: 0 auto;
	display: inline-block;
}

.tt_profile_link {
	color: #FFCC33;
}

.tt_msg_c
{
	position: absolute;
	padding: 10px;
	text-align: center;
	width: 1100px;
}

.tt_close_notice 
{
	color: #808080;
	font-size: 12px;
	font-family: Tahoma, sans-serif;
}

.tt_stat_title 
{
	font-size: 14px;
	color: #EEEEEE;
}

.tt_stat_text
{
	font-size: 12px;
	color: #FFCC33;
}

.tt_stat_no_benefit 
{
	font-size: 12px;
	color: #808080;
}

.tt_miss_level {
	padding-left: 20px;
	color: #FFCC33;
}

.tt_miss {
	text-align:right;
}

.tt_miss_title_l {
	color: #EEEEEE;
	text-align: left;
}

.tt_miss_title_r {
	color: #EEEEEE;
	text-align: right;
}

.tt_miss_table {
	width: 100%;
	padding-top: 10px;
}
.tt_note{color: #808080;padding-top: 2px; text-align:center;}

.tt_miss_g {
	text-align: left;
	color: #808080;
}

.tt_meta_condition {
	margin-left: 5px;
}

.tooltip_reforge_info {
	color: #00DD00;
	font-size: 11px;
}

.tt_bg { background: repeat url(images/site/tooltip/tt_bg.png); padding: 0 2px;}
.tt_bg_lt { background: url(images/site/tooltip/tt_lt.png) left top no-repeat; width:8px; height:8px}
.tt_bg_t { background: url(images/site/tooltip/tt_t.png) left top repeat-x;}
.tt_bg_rt { background: url(images/site/tooltip/tt_rt.png) right top no-repeat; width:8px; height:8px}
.tt_bg_l { background: url(images/site/tooltip/tt_l.png) left top repeat-y;}
.tt_bg_r { background: url(images/site/tooltip/tt_r.png) right top repeat-y;}
.tt_bg_lb { background: url(images/site/tooltip/tt_lb.png) left bottom no-repeat; width:8px; height:8px}
.tt_bg_b { background: url(images/site/tooltip/tt_b.png) left bottom repeat-x;}
.tt_bg_rb { background: url(images/site/tooltip/tt_rb.png) right bottom no-repeat; width:8px; height:8px}

.tt_hit_cap{ color: #808080; text-align:center; padding-top: 3px; padding-bottom: 3px; font-size:11px;}

.tt_stat_with_mods { color: #808080; margin-left: 5px;}
.tt_rating_percent { color: #808080; margin-left: 5px;}