.li_filter_p{ margin-bottom: 10px; border: 1px dotted #555; background-color: #343030; border-right: none; border-right: none;}

.li_fc_header {font-size: 16px; font-family: georgia, serif; padding: 5px; color: #808080;}

.li_fc_content { padding: 10px;}

.li_sort_link { color: #808078; }
.li_sort_link_active{ font-weight: bold; color: #ffcc00; }

.li_filter_input_grid { margin-bottom: 2px;}

.li_filter_search_btn { margin-top: 5px;}

.li_filter_ig_label {padding-right: 5px;}
.li_filter_ig_input {}

.li_filter_lg_label {padding-bottom: 5px;}

.li_filter_grp { padding: 5px; }
.li_filter_select { margin-left: 2px; margin-bottom: 2px; }

.il_prop {height: 20px; display: none;}
.il_prop_note{ display: block; float: left; color: #808080; line-height: 20px;}
.il_prop_check{ display: block; float: left; }

.fi_op_select{margin-right: 1px;}
.fi_in{}
.fi_in_min { width: 50px; }
.fi_in_max { width: 50px; }

.fi_multi_select {}

.fi_cf_remove{ margin: 3px 0; }

.fi_cf_table { margin-bottom: 5px;}
.fi_cf_table td{ padding-right: 1px;}

.li_content{ color: #808080; background-color: #3C3838; border: 1px solid #343030; border-right: none;}

.li_loading {
	padding: 5px 0px;
	font-size: 16px;
	padding-left: 41px;
	line-height: 31px;
	vertical-align: middle;
	background: url(images/site/li_loading.gif) no-repeat 5px 5px;
	color: #808080;
	margin: 0 auto;
	width: 32px;
}

.li_content_t{}

.li_page_p {
	padding: 3px;
	padding-bottom: 10px;
}

.li_prev_page {
	display: block;
	float:left;
	height: 20px;
	line-height: 20px;
}
.li_prev_page:hover{text-decoration:none;}

.li_curr_page {
	color: #808078;
	text-align: center;
}

.li_next_page {
	display: block;
	float:right;
	height: 20px;
	line-height: 20px;
}
.li_next_page:hover{text-decoration:none;}

.li_icon {
	height: 32px; width: 32px; margin: 0 auto;
}

.li_imp_col {}
.li_unimp_col { color: #808080; }

.pl_content_t{ color: #808080; }

.pl_header {
	line-height: 25px; background-color: #3c3838;
}

.pl_header_cell {
	height: 25px;
}


.pl_cell {
}

.pl_cell_bg0 {
	background-color: #444040;
}

.pl_cell_bg1 {
	background-color: #484444;
}

.pl_inline_header {
	border-top: 1px solid #343030;
}

.pl_delete_link {float: right;}

.pl_level_p {
	margin-left: 5px; font-size: 14px; padding-right: 5px; text-align: right; color: #c0c0c0;
}

.pl_link { color: #00a8bd; margin-left: 5px; font-family: georgia, serif;}

.pl_icon { border: 1px solid #404038; height: 24px; width: 24px; margin: 1px; }
.pl_ih_info {font-size: 11px;}

.il_header {
	line-height: 25px;
}

.il_icon {
	height: 24px; width: 24px; margin: 3px; border: 1px solid black; background-repeat: no-repeat; background-position: center center;
}

.il_header_cell {
	background-color: #3C3838;
}

.il_cell_bg0 {
	background-color: #444040;
	/*background-image: url(images/site/il_bg_0.png);*/
}

.il_cell_bg1 {
	background-color: #484444;
	/*background-image: url(images/site/il_bg_1.png);*/
}

.il_cell {
	border-top: 1px solid #343030;
}

.il_link { padding: 0px 2px; cursor: pointer; margin-left: 5px;}

.il_link_p { }

.il_heroic { 
	font-size: 11px;
	color: #2c2;
	margin-left: 3px;
	cursor: default;
	vertical-align: top;
}